extends ../../layouts/dashboard

append config
  -pageName = 'Cards'
  - pageUrl = 'ui/cards'

block content

  .row 
    .col 
      .card.mb-3
        .card-status-top.bg-info
        .card-header
          h5.card-title.mb-0 Card with image and links
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .card-footer
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link
    .col 
      .card.mb-3
        .card-status-bottom.bg-warning
        .card-header
          h5.card-title.mb-0 Card with image and links
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .card-footer
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link
    .col 
      .card.mb-3
        .card-status-start.bg-danger
        .card-header
          h5.card-title.mb-0 Card with image and links
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .card-footer
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link
    .col 
      .card.mb-3
        .card-status-end.bg-success
        .card-header
          h5.card-title.mb-0 Card with image and links
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .card-footer
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link

  .row
    .col-12.col-md-6
      .card
        img.card-img-top(src='https://dummyimage.com/400x200/000/fff.jpg' alt='Unsplash')
        .card-header
          h5.card-title.mb-0 Card with image and links
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link
    .col-12.col-md-6
      .card.mb-3
        img.card-img-top(src='https://dummyimage.com/400x200/000/fff.jpg' alt='Unsplash')
        .card-header
          h5.card-title.mb-0 Card with image and button
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          a.btn.btn-primary(href='#') Go somewhere
    .col-12.col-md-6
      .card
        .card-header
          h5.card-title.mb-0 Card with links
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          a.card-link(href='#') Card link
          a.card-link(href='#') Another link
    .col-12.col-md-6
      .card
        .card-header
          h5.card-title.mb-0 Card with button
        .card-body
          p.card-text
            | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
          a.btn.btn-primary(href='#') Go somewhere

  .row
    .col-12.col-md-6
      .card.border-danger-subtle
        .card-header
          h5.card-title.mb-0.text-danger-emphasis
            i.fa-solid.fa-lock.me-2
            | Password & Security
        .card-body
          .alert.alert-info.mb-4.d-flex.align-items-center(role='alert')
            i.fa-solid.fa-circle-info.text-info.me-3.fs-4
            div
              strong Security Tip:
              .small.text-muted Use a strong password that you don't use on other sites.
          .mb-4
            label.form-label.fw-semibold Current Password
            .input-group
              span.input-group-text.bg-body-tertiary
                i.fa-solid.fa-key.text-muted
              input.form-control.password-field(type='password' name='current_password' placeholder='••••••••••••')
              button.btn.btn-outline-secondary.toggle-password(type='button' data-pr-toggle-password='')
                i.fa-regular.fa-eye
          hr.text-secondary.opacity-25
          .row.g-3
            .col-md-6
              label.form-label.fw-semibold New Password
              .input-group
                input.form-control.password-field(type='password' name='password' placeholder='New password')
                button.btn.btn-outline-secondary.toggle-password(type='button' data-pr-toggle-password='')
                  i.fa-regular.fa-eye
            .col-md-6
              label.form-label.fw-semibold Confirm Password
              .input-group
                input.form-control.password-field(type='password' name='confirm_password' placeholder='Repeat new password')
                button.btn.btn-outline-secondary.toggle-password(type='button' data-pr-toggle-password='')
                  i.fa-regular.fa-eye
        .card-footer.text-end
          button.btn.btn-danger.px-4(name='change_password' type='submit')
            i.fa-solid.fa-check-double.me-1
            |  Update Password

    .col-12.col-md-6 
      .card.h-100.bg-primary.bg-opacity-10.mt-3
        .card-body.d-flex.align-items-center
          .p-3.rounded-circle.bg-primary.text-white.me-3
            i.fa-solid.fa-users.fa-lg
          div
            h6.text-muted.text-uppercase.fw-bold.small.mb-1 Users
            h2.mb-0.fw-bold.text-primary 2
