extends ../../layouts/dashboard

append config
  -pageName = 'General Ui'
  - pageUrl = 'ui/general'

block styles
  style.
    aside{
      position: sticky;
      top:1rem;
    }

block content

  .row.g-4
    .col-lg-3
      aside.sticky-top(style='top: 1.5rem; height: calc(100vh - 3rem);')
        .card.h-100
          .card-header.bg-transparent.py-3
            h6.fw-bold.mb-0 On this page
          .card-body.p-0
            .list-group.list-group-flush.rounded-0(style='height: calc(100vh - 8rem); overflow-y: auto; overflow-x: hidden;')
              // Foundational Section
              .p-3.pb-2
                span.text-uppercase.fw-bold.text-muted.small Foundation
              a.list-group-item.list-group-item-action.border-0.px-3(href='#typography') 
                i.bi.bi-type.me-2
                | Typography
              a.list-group-item.list-group-item-action.border-0.px-3(href=baseUrl + 'ui/images.html') 
                i.bi.bi-image.me-2
                | Images
              a.list-group-item.list-group-item-action.border-0.px-3(href=baseUrl + 'ui/avatar.html') 
                i.bi.bi-person-circle.me-2
                | Avatars
              a.list-group-item.list-group-item-action.border-0.px-3(href='#tables') 
                i.bi.bi-table.me-2
                | Tables
              a.list-group-item.list-group-item-action.border-0.px-3(href='#figures') 
                i.bi.bi-image-fill.me-2
                | Figures

              // Forms Section
              .p-3.pb-2.pt-4
                span.text-uppercase.fw-bold.text-muted.small Form Elements
              a.list-group-item.list-group-item-action.border-0.px-3(href='#overview') 
                i.bi.bi-input-cursor.me-2
                | Overview
              a.list-group-item.list-group-item-action.border-0.px-3(href='#sizing') 
                i.bi.bi-aspect-ratio.me-2
                | Sizing & Feedback
              a.list-group-item.list-group-item-action.border-0.px-3(href='#floating-labels') 
                i.bi.bi-chat-dots.me-2
                | Floating Labels

              // Components Section
              .p-3.pb-2.pt-4
                span.text-uppercase.fw-bold.text-muted.small Components
              a.list-group-item.list-group-item-action.border-0.px-3(href='#accordion') 
                i.bi.bi-view-stacked.me-2
                | Accordion
              a.list-group-item.list-group-item-action.border-0.px-3(href='#alerts') 
                i.bi.bi-exclamation-octagon.me-2
                | Alerts
              a.list-group-item.list-group-item-action.border-0.px-3(href='#badge') 
                i.bi.bi-award.me-2
                | Badge
              a.list-group-item.list-group-item-action.border-0.px-3(href='#buttons') 
                i.bi.bi-mouse2.me-2
                | Buttons
              a.list-group-item.list-group-item-action.border-0.px-3(href='#card') 
                i.bi.bi-card-heading.me-2
                | Cards
              a.list-group-item.list-group-item-action.border-0.px-3(href='#navbar') 
                i.bi.bi-list.me-2
                | Navigation
              a.list-group-item.list-group-item-action.border-0.px-3(href='#pagination') 
                i.bi.bi-123.me-2
                | Pagination
              a.list-group-item.list-group-item-action.border-0.px-3(href='#progress') 
                i.bi.bi-bar-chart-steps.me-2
                | Progress & Loaders
              a.list-group-item.list-group-item-action.border-0.px-3.mb-3(href='#tooltips') 
                i.bi.bi-info-circle.me-2
                | Tips & Popovers

    .col-lg-9
      section#content
        h2.fw-bold.pb-2 Contents
        article#typography.my-3
          .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
            h3 Typography
            a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/content/typography/' target='_blank') Documentation
          div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  p.display-1 Display 1
                  p.display-2 Display 2
                  p.display-3 Display 3
                  p.display-4 Display 4
                  p.display-5 Display 5
                  p.display-6 Display 6
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  p.h1 Heading 1
                  p.h2 Heading 2
                  p.h3 Heading 3
                  p.h4 Heading 4
                  p.h5 Heading 5
                  p.h6 Heading 6
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  p.lead
                    | This is a lead paragraph. It stands out from regular paragraphs.
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  p
                    | You can use the mark tag to
                    mark highlight
                    |                   text.
                  p
                    del This line of text is meant to be treated as deleted text.
                  p
                    s This line of text is meant to be treated as no longer accurate.
                  p
                    ins This line of text is meant to be treated as an addition to the document.
                  p
                    u This line of text will render as underlined.
                  p
                    small This line of text is meant to be treated as fine print.
                  p
                    strong This line rendered as bold text.
                  p
                    em This line rendered as italicized text.
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  hr
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  blockquote.blockquote
                    p A well-known quote, contained in a blockquote element.
                    footer.blockquote-footer
                      | Someone famous in
                      cite(title='Source Title') Source Title
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  ul.list-unstyled
                    li This is a list.
                    li It appears completely unstyled.
                    li Structurally, it&apos;s still a list.
                    li However, this style only applies to immediate child elements.
                    li
                      | Nested lists:
                      ul
                        li are unaffected by this style
                        li will still show a bullet
                        li and have appropriate left margin
                    li This may still come in handy in some situations.
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  ul.list-inline
                    li.list-inline-item This is a list item.
                    li.list-inline-item And another one.
                    li.list-inline-item But they&apos;re displayed inline.
          article#images.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Images
              a.d-flex.align-items-center(href=baseUrl + 'ui/images.html') View Detailed Documentation
            div
              .card.mb-3
                .card-body.p-4.text-center
                  i.bi.bi-image-fill.display-4.text-primary.mb-3
                  h5 Comprehensive Image Guide
                  p.text-muted We have moved the detailed documentation for responsive images, thumbnails, and alignment to a dedicated page for better clarity.
                  a.btn.btn-primary.px-4(href=baseUrl + 'ui/images.html')
                    | Go to Images Documentation
                    i.bi.bi-arrow-right.ms-2
          article#tables.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Tables
              a.d-flex.align-items-center(href='../content/tables/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  table.table.table-striped
                    thead
                      tr
                        th(scope='col') #
                        th(scope='col') First
                        th(scope='col') Last
                        th(scope='col') Handle
                    tbody
                      tr
                        th(scope='row') 1
                        td Mark
                        td Otto
                        td @mdo
                      tr
                        th(scope='row') 2
                        td Jacob
                        td Thornton
                        td @fat
                      tr
                        th(scope='row') 3
                        td(colspan='2') Larry the Bird
                        td @twitter
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  table.table.table-dark.table-borderless
                    thead
                      tr
                        th(scope='col') #
                        th(scope='col') First
                        th(scope='col') Last
                        th(scope='col') Handle
                    tbody
                      tr
                        th(scope='row') 1
                        td Mark
                        td Otto
                        td @mdo
                      tr
                        th(scope='row') 2
                        td Jacob
                        td Thornton
                        td @fat
                      tr
                        th(scope='row') 3
                        td(colspan='2') Larry the Bird
                        td @twitter
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  table.table.table-hover
                    thead
                      tr
                        th(scope='col') Class
                        th(scope='col') Heading
                        th(scope='col') Heading
                    tbody
                      tr
                        th(scope='row') Default
                        td Cell
                        td Cell
                      tr.table-primary
                        th(scope='row') Primary
                        td Cell
                        td Cell
                      tr.table-secondary
                        th(scope='row') Secondary
                        td Cell
                        td Cell
                      tr.table-success
                        th(scope='row') Success
                        td Cell
                        td Cell
                      tr.table-danger
                        th(scope='row') Danger
                        td Cell
                        td Cell
                      tr.table-warning
                        th(scope='row') Warning
                        td Cell
                        td Cell
                      tr.table-info
                        th(scope='row') Info
                        td Cell
                        td Cell
                      tr.table-light
                        th(scope='row') Light
                        td Cell
                        td Cell
                      tr.table-dark
                        th(scope='row') Dark
                        td Cell
                        td Cell
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  table.table.table-sm.table-bordered
                    thead
                      tr
                        th(scope='col') #
                        th(scope='col') First
                        th(scope='col') Last
                        th(scope='col') Handle
                    tbody
                      tr
                        th(scope='row') 1
                        td Mark
                        td Otto
                        td @mdo
                      tr
                        th(scope='row') 2
                        td Jacob
                        td Thornton
                        td @fat
                      tr
                        th(scope='row') 3
                        td(colspan='2') Larry the Bird
                        td @twitter
          article#figures.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Figures
              a.d-flex.align-items-center(href='../content/figures/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  figure.figure.m-0
                    .rounded.bg-dark.bg-opacity-10.d-flex.align-items-center.justify-content-center(style='height: 300px; width: 400px;')
                      i.bi.bi-camera.fs-1.text-muted
                    figcaption.figure-caption.mt-2 A caption for the above image representation.
        section#forms
          h2.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3 Form Elements
          article#overview.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Overview
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/forms/overview/' target='_blank') Documentation
            div
              .card.mb-4
                .card-body.p-4
                  form
                    .row.g-3
                      .col-md-6
                        label.form-label Email address
                        input.form-control(type='email' placeholder='name@example.com')
                        .form-text Standard email input field.
                      .col-md-6
                        label.form-label Password
                        input.form-control(type='password' placeholder='••••••••')
                      .col-12
                        label.form-label Selection
                        select.form-select
                          option(selected='') Choose an option...
                          option(value='1') Feature One
                          option(value='2') Feature Two
                      .col-12
                        .form-check.form-switch
                          input#switchDemo.form-check-input(type='checkbox' role='switch' checked='')
                          label.form-check-label(for='switchDemo') Enable notifications
                      .col-12
                        button.btn.btn-primary.px-4(type='submit') 
                          i.bi.bi-send.me-2
                          | Submit Form
          article#disabled-forms.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Disabled forms
              a.d-flex.align-items-center(href='../forms/overview/#disabled-forms') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  form
                    fieldset(disabled='' aria-label='Disabled fieldset example')
                      .mb-3
                        label.form-label(for='disabledTextInput') Disabled input
                        input#disabledTextInput.form-control(type='text' placeholder='Disabled input')
                      .mb-3
                        label.form-label(for='disabledSelect') Disabled select menu
                        select#disabledSelect.form-select
                          option Disabled select
                      .mb-3
                        .form-check
                          input#disabledFieldsetCheck.form-check-input(type='checkbox' disabled='')
                          label.form-check-label(for='disabledFieldsetCheck')
                            | Can&apos;t check this
                      fieldset.mb-3
                        legend Disabled radios buttons
                        .form-check
                          input#disabledRadio1.form-check-input(type='radio' name='radios' disabled='')
                          label.form-check-label(for='disabledRadio1') Disabled radio
                        .mb-3.form-check
                          input#disabledRadio2.form-check-input(type='radio' name='radios' disabled='')
                          label.form-check-label(for='disabledRadio2') Another radio
                      .mb-3
                        label.form-label(for='disabledCustomFile') Upload
                        input#disabledCustomFile.form-control(type='file' disabled='')
                      .mb-3.form-check.form-switch
                        input#disabledSwitchCheckChecked.form-check-input(type='checkbox' role='switch' checked='' disabled='')
                        label.form-check-label(for='disabledSwitchCheckChecked') Disabled checked switch checkbox input
                      .mb-3
                        label.form-label(for='disabledRange') Disabled range
                        input#disabledRange.form-range(type='range' min='0' max='5' step='0.5')
                      button.btn.btn-primary(type='submit') Submit
          article#sizing.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Sizing & Feedback
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/forms/form-control/#sizing' target='_blank') Documentation
            div
              .row.g-3
                .col-md-6
                  input.form-control.form-control-lg(type='text' placeholder='Large Input (.form-control-lg)')
                .col-md-6
                  input.form-control.form-control-sm(type='text' placeholder='Small Input (.form-control-sm)')
          article#input-group.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Input group
              a.d-flex.align-items-center(href='../forms/input-group/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  .input-group.mb-3
                    span#basic-addon1.input-group-text @
                    input.form-control(type='text' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')
                  .input-group.mb-3
                    input.form-control(type='text' placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby='basic-addon2')
                    span#basic-addon2.input-group-text @example.com
                  label.form-label(for='basic-url') Your vanity URL
                  .input-group.mb-3
                    span#basic-addon3.input-group-text https://example.com/users/
                    input#basic-url.form-control(type='text' aria-describedby='basic-addon3')
                  .input-group.mb-3
                    span.input-group-text $
                    input.form-control(type='text' aria-label='Amount (to the nearest dollar)')
                    span.input-group-text .00
                  .input-group
                    span.input-group-text With textarea
                    textarea.form-control(aria-label='With textarea')
          article#floating-labels.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Floating labels
              a.d-flex.align-items-center(href='../forms/floating-labels/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  form
                    .form-floating.mb-3
                      input#floatingInput.form-control(type='email' placeholder='name@example.com')
                      label(for='floatingInput') Email address
                    .form-floating
                      input#floatingPassword.form-control(type='password' placeholder='Password')
                      label(for='floatingPassword') Password
          article#validation.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Validation
              a.d-flex.align-items-center(href='../forms/validation/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  form.row.g-3
                    .col-md-4
                      label.form-label(for='validationServer01') First name
                      input#validationServer01.form-control.is-valid(type='text' value='Mark' required='')
                      .valid-feedback
                        | Looks good!
                    .col-md-4
                      label.form-label(for='validationServer02') Last name
                      input#validationServer02.form-control.is-valid(type='text' value='Otto' required='')
                      .valid-feedback
                        | Looks good!
                    .col-md-4
                      label.form-label(for='validationServerUsername') Username
                      .input-group.has-validation
                        span#inputGroupPrepend3.input-group-text @
                        input#validationServerUsername.form-control.is-invalid(type='text' aria-describedby='inputGroupPrepend3' required='')
                        .invalid-feedback
                          | Please choose a username.
                    .col-md-6
                      label.form-label(for='validationServer03') City
                      input#validationServer03.form-control.is-invalid(type='text' required='')
                      .invalid-feedback
                        | Please provide a valid city.
                    .col-md-3
                      label.form-label(for='validationServer04') State
                      select#validationServer04.form-select.is-invalid(required='')
                        option(selected='' disabled='' value='') Choose...
                        option ...
                      .invalid-feedback
                        | Please select a valid state.
                    .col-md-3
                      label.form-label(for='validationServer05') Zip
                      input#validationServer05.form-control.is-invalid(type='text' required='')
                      .invalid-feedback
                        | Please provide a valid zip.
                    .col-12
                      .form-check
                        input#invalidCheck3.form-check-input.is-invalid(type='checkbox' value='' required='')
                        label.form-check-label(for='invalidCheck3')
                          | Agree to terms and conditions
                        .invalid-feedback
                          | You must agree before submitting.
                    .col-12
                      button.btn.btn-primary(type='submit') Submit form
        section#components
          h2.fw-bold.pt-3.pt-xl-5.pb-2.pb-xl-3 Components
          article#accordion.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Accordion
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/components/accordion/' target='_blank') Documentation
            div
              #accordionExample.accordion
                .accordion-item
                  h2#headingOne.accordion-header
                    button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                      i.bi.bi-info-circle.me-2
                      | Getting Started
                  #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                    .accordion-body
                      strong Welcome to the interface guide.
                      |  This accordion demonstrates how to present collapsible information in a clean, organized manner. It's perfect for FAQs or detailed documentation sections.
                .accordion-item
                  h2#headingTwo.accordion-header
                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                      i.bi.bi-command.me-2
                      | Advanced Features
                  #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionExample')
                    .accordion-body
                      | Explore the full potential of our design system with these advanced components and layout utilities designed for high-performance applications.
          
          article#alerts.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Alerts
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/components/alerts/' target='_blank') Documentation
            div
              .row.g-3
                .col-md-6
                  .alert.alert-primary.alert-dismissible.fade.show.border-0(role='alert')
                    strong.me-2
                      i.bi.bi-info-circle-fill
                    | New system update available!
                    button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                .col-md-6
                  .alert.alert-success.alert-dismissible.fade.show.border-0(role='alert')
                    strong.me-2
                      i.bi.bi-check-circle-fill
                    | Action completed successfully.
                    button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                .col-12
                  .alert.alert-warning.d-flex.align-items-center.border-0(role='alert')
                    i.bi.bi-exclamation-triangle-fill.fs-4.me-3
                    div
                      | Please ensure you have backed up your data before proceeding with the migration.
          article#badge.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Badge
              a.d-flex.align-items-center(href='../components/badge/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  p.h1
                    | Example heading
                    span.badge.bg-primary New
                  p.h2
                    | Example heading
                    span.badge.bg-secondary New
                  p.h3
                    | Example heading
                    span.badge.bg-success New
                  p.h4
                    | Example heading
                    span.badge.bg-danger New
                  p.h5
                    | Example heading
                    span.badge.text-bg-warning New
                  p.h6
                    | Example heading
                    span.badge.text-bg-info New
                  p.h6
                    | Example heading
                    span.badge.text-bg-light New
                  p.h6
                    | Example heading
                    span.badge.bg-dark New
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  span.badge.rounded-pill.bg-primary Primary
                  span.badge.rounded-pill.bg-secondary Secondary
                  span.badge.rounded-pill.bg-success Success
                  span.badge.rounded-pill.bg-danger Danger
                  span.badge.rounded-pill.text-bg-warning Warning
                  span.badge.rounded-pill.text-bg-info Info
                  span.badge.rounded-pill.text-bg-light Light
                  span.badge.rounded-pill.bg-dark Dark
                .bd-example
                  span.badge.badge-light-primary Primary
                  span.badge.badge-light-secondary Secondary
                  span.badge.badge-light-success Success
                  span.badge.badge-light-danger Danger
                  span.badge.badge-light-warning Warning
                  span.badge.badge-light-info Info
                  span.badge.badge-light-light Light
                  span.badge.badge-light-dark Dark
          article#breadcrumb.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Breadcrumb
              a.d-flex.align-items-center(href='../components/breadcrumb/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  nav(aria-label='breadcrumb')
                    ol.breadcrumb
                      li.breadcrumb-item
                        a(href='#') Home
                      li.breadcrumb-item
                        a(href='#') Library
                      li.breadcrumb-item.active(aria-current='page') Data
          article#buttons.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Buttons
              a.d-flex.align-items-center(href='../components/buttons/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  button.btn.btn-primary(type='button') Primary
                  button.btn.btn-secondary(type='button') Secondary
                  button.btn.btn-success(type='button') Success
                  button.btn.btn-danger(type='button') Danger
                  button.btn.btn-warning(type='button') Warning
                  button.btn.btn-info(type='button') Info
                  button.btn.btn-light(type='button') Light
                  button.btn.btn-dark(type='button') Dark
                  button.btn.btn-link(type='button') Link
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  button.btn.btn-outline-primary(type='button') Primary
                  button.btn.btn-outline-secondary(type='button') Secondary
                  button.btn.btn-outline-success(type='button') Success
                  button.btn.btn-outline-danger(type='button') Danger
                  button.btn.btn-outline-warning(type='button') Warning
                  button.btn.btn-outline-info(type='button') Info
                  button.btn.btn-outline-light(type='button') Light
                  button.btn.btn-outline-dark(type='button') Dark
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  button.btn.btn-primary.btn-sm(type='button') Small button
                  button.btn.btn-primary(type='button') Standard button
                  button.btn.btn-primary.btn-lg(type='button') Large button
          article#button-group.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Button group
              a.d-flex.align-items-center(href='../components/button-group/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  .btn-toolbar(role='toolbar' aria-label='Toolbar with button groups')
                    .btn-group.me-2(role='group' aria-label='First group')
                      button.btn.btn-secondary(type='button') 1
                      button.btn.btn-secondary(type='button') 2
                      button.btn.btn-secondary(type='button') 3
                      button.btn.btn-secondary(type='button') 4
                    .btn-group.me-2(role='group' aria-label='Second group')
                      button.btn.btn-secondary(type='button') 5
                      button.btn.btn-secondary(type='button') 6
                      button.btn.btn-secondary(type='button') 7
                    .btn-group(role='group' aria-label='Third group')
                      button.btn.btn-secondary(type='button') 8
          article#card.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Cards
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/components/card/' target='_blank') Documentation
            div
              .row.g-4
                .col-md-4
                  .card.h-100
                    .bg-primary.bg-opacity-10.text-center.py-5.rounded-top
                      i.bi.bi-file-person.display-4.text-primary
                    .card-body
                      h5.card-title Profile Card
                      p.card-text Elegant representation of user data with status indicators.
                      a.btn.btn-outline-primary.w-100(href='#') View Profile
                .col-md-4
                  .card.h-100
                    .card-header.bg-transparent.border-0.pt-4
                      span.badge.bg-success.mb-2 Active Project
                      h5.card-title Development
                    .card-body
                      p.card-text Track your progress and manage tasks efficiently with integrated tools.
                    .card-footer.bg-transparent.border-0.pb-4.d-flex.justify-content-between.align-items-center
                      .small.text-muted 2 hours ago
                      button.btn.btn-link.p-0 Details
                .col-md-4
                  .card.h-100
                    .card-body
                      .d-flex.align-items-center.mb-3
                        .p-3.bg-info.bg-opacity-10.rounded.me-3
                          i.bi.bi-cloud-check.text-info.fs-4
                        h6.mb-0 Cloud Analytics
                      p.card-text Real-time data processing and visual insights for your business growth.
                      hr.opacity-25
                      .d-flex.align-items-center
                        .avatar.avatar-xs.bg-danger.rounded-pill.me-2
                        span.small John Doe
          article#carousel.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Carousel
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/components/carousel/' target='_blank') Documentation
            div
              #carouselExampleCaptions.carousel.slide.rounded.overflow-hidden(data-bs-ride='carousel')
                .carousel-indicators
                  button.active(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                  button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1' aria-label='Slide 2')
                .carousel-inner
                  .carousel-item.active
                    .bg-primary.bg-gradient.d-flex.align-items-center.justify-content-center(style='height: 300px;')
                      .text-center.text-white
                        i.bi.bi-lightning-fill.display-4.mb-3
                        h2 First Slide Highlight
                        p Modern gradient backgrounds for a sleek look.
                  .carousel-item
                    .bg-dark.bg-gradient.d-flex.align-items-center.justify-content-center(style='height: 300px;')
                      .text-center.text-white
                        i.bi.bi-speedometer2.display-4.mb-3
                        h2 Optimized Performance
                        p Smooth transitions and responsive design.
                button.carousel-control-prev(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev')
                  span.carousel-control-prev-icon(aria-hidden='true')
                button.carousel-control-next(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next')
                  span.carousel-control-next-icon(aria-hidden='true')
          article#dropdowns.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Dropdowns
              a.d-flex.align-items-center(href='../components/dropdowns/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  .btn-group.w-100.align-items-center.justify-content-between.flex-wrap
                    .dropdown
                      button.btn.btn-secondary.btn-sm.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Dropdown button
                      ul.dropdown-menu
                        li
                          h6.dropdown-header Dropdown header
                        li
                          a.dropdown-item(href='#') Action
                        li
                          a.dropdown-item(href='#') Another action
                        li
                          a.dropdown-item(href='#') Something else here
                        li
                          hr.dropdown-divider
                        li
                          a.dropdown-item(href='#') Separated link
                    .dropdown
                      button.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Dropdown button
                      ul.dropdown-menu
                        li
                          h6.dropdown-header Dropdown header
                        li
                          a.dropdown-item(href='#') Action
                        li
                          a.dropdown-item(href='#') Another action
                        li
                          a.dropdown-item(href='#') Something else here
                        li
                          hr.dropdown-divider
                        li
                          a.dropdown-item(href='#') Separated link
                    .dropdown
                      button.btn.btn-secondary.btn-lg.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Dropdown button
                      ul.dropdown-menu
                        li
                          h6.dropdown-header Dropdown header
                        li
                          a.dropdown-item(href='#') Action
                        li
                          a.dropdown-item(href='#') Another action
                        li
                          a.dropdown-item(href='#') Something else here
                        li
                          hr.dropdown-divider
                        li
                          a.dropdown-item(href='#') Separated link
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  .btn-group
                    button.btn.btn-primary(type='button') Primary
                    button.btn.btn-primary.dropdown-toggle.dropdown-toggle-split(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                      span.visually-hidden Toggle Dropdown
                    ul.dropdown-menu
                      li
                        a.dropdown-item(href='#') Action
                      li
                        a.dropdown-item(href='#') Another action
                      li
                        a.dropdown-item(href='#') Something else here
                  // /btn-group
                  .btn-group
                    button.btn.btn-secondary(type='button') Secondary
                    button.btn.btn-secondary.dropdown-toggle.dropdown-toggle-split(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                      span.visually-hidden Toggle Dropdown
                    ul.dropdown-menu
                      li
                        a.dropdown-item(href='#') Action
                      li
                        a.dropdown-item(href='#') Another action
                      li
                        a.dropdown-item(href='#') Something else here
                  // /btn-group
                  .btn-group
                    button.btn.btn-success(type='button') Success
                    button.btn.btn-success.dropdown-toggle.dropdown-toggle-split(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                      span.visually-hidden Toggle Dropdown
                    ul.dropdown-menu
                      li
                        a.dropdown-item(href='#') Action
                      li
                        a.dropdown-item(href='#') Another action
                      li
                        a.dropdown-item(href='#') Something else here
                  // /btn-group
                  .btn-group
                    button.btn.btn-info(type='button') Info
                    button.btn.btn-info.dropdown-toggle.dropdown-toggle-split(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                      span.visually-hidden Toggle Dropdown
                    ul.dropdown-menu
                      li
                        a.dropdown-item(href='#') Action
                      li
                        a.dropdown-item(href='#') Another action
                      li
                        a.dropdown-item(href='#') Something else here
                  // /btn-group
                  .btn-group
                    button.btn.btn-warning(type='button') Warning
                    button.btn.btn-warning.dropdown-toggle.dropdown-toggle-split(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                      span.visually-hidden Toggle Dropdown
                    ul.dropdown-menu
                      li
                        a.dropdown-item(href='#') Action
                      li
                        a.dropdown-item(href='#') Another action
                      li
                        a.dropdown-item(href='#') Something else here
                  // /btn-group
                  .btn-group
                    button.btn.btn-danger(type='button') Danger
                    button.btn.btn-danger.dropdown-toggle.dropdown-toggle-split(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                      span.visually-hidden Toggle Dropdown
                    ul.dropdown-menu
                      li
                        a.dropdown-item(href='#') Action
                      li
                        a.dropdown-item(href='#') Another action
                      li
                        a.dropdown-item(href='#') Something else here
                  // /btn-group
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  .btn-group.w-100.align-items-center.justify-content-between.flex-wrap
                    .dropend
                      button.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Dropend button
                      ul.dropdown-menu
                        li
                          h6.dropdown-header Dropdown header
                        li
                          a.dropdown-item(href='#') Action
                        li
                          a.dropdown-item(href='#') Another action
                        li
                          a.dropdown-item(href='#') Something else here
                        li
                          hr.dropdown-divider
                        li
                          a.dropdown-item(href='#') Separated link
                    .dropup
                      button.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Dropup button
                      ul.dropdown-menu
                        li
                          h6.dropdown-header Dropdown header
                        li
                          a.dropdown-item(href='#') Action
                        li
                          a.dropdown-item(href='#') Another action
                        li
                          a.dropdown-item(href='#') Something else here
                        li
                          hr.dropdown-divider
                        li
                          a.dropdown-item(href='#') Separated link
                    .dropstart
                      button.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | Dropstart button
                      ul.dropdown-menu
                        li
                          h6.dropdown-header Dropdown header
                        li
                          a.dropdown-item(href='#') Action
                        li
                          a.dropdown-item(href='#') Another action
                        li
                          a.dropdown-item(href='#') Something else here
                        li
                          hr.dropdown-divider
                        li
                          a.dropdown-item(href='#') Separated link
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  .btn-group
                    .dropdown
                      button.btn.btn-secondary.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false')
                        | End-aligned menu
                      ul.dropdown-menu.dropdown-menu-end
                        li
                          h6.dropdown-header Dropdown header
                        li
                          a.dropdown-item(href='#') Action
                        li
                          a.dropdown-item(href='#') Another action
                        li
                          hr.dropdown-divider
                        li
                          a.dropdown-item(href='#') Separated link
          article#list-group.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 List group
              a.d-flex.align-items-center(href='../components/list-group/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  ul.list-group
                    li.list-group-item.disabled(aria-disabled='true') A disabled item
                    li.list-group-item A second item
                    li.list-group-item A third item
                    li.list-group-item A fourth item
                    li.list-group-item And a fifth one
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  ul.list-group.list-group-flush
                    li.list-group-item An item
                    li.list-group-item A second item
                    li.list-group-item A third item
                    li.list-group-item A fourth item
                    li.list-group-item And a fifth one
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  .list-group
                    a.list-group-item.list-group-item-action(href='#') A simple default list group item
                    a.list-group-item.list-group-item-action.list-group-item-primary(href='#') A simple primary list group item
                    a.list-group-item.list-group-item-action.list-group-item-secondary(href='#') A simple secondary list group item
                    a.list-group-item.list-group-item-action.list-group-item-success(href='#') A simple success list group item
                    a.list-group-item.list-group-item-action.list-group-item-danger(href='#') A simple danger list group item
                    a.list-group-item.list-group-item-action.list-group-item-warning(href='#') A simple warning list group item
                    a.list-group-item.list-group-item-action.list-group-item-info(href='#') A simple info list group item
                    a.list-group-item.list-group-item-action.list-group-item-light(href='#') A simple light list group item
                    a.list-group-item.list-group-item-action.list-group-item-dark(href='#') A simple dark list group item
          article#modal.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Modal
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/components/modal/' target='_blank') Documentation
            div
              .card
                .card-body.p-4.text-center
                  i.bi.bi-window-stack.display-4.text-primary.mb-3
                  h5 Interactive Modals
                  p.text-muted Demonstrate alerts, forms, or confirmations within a focused overlay.
                  .d-flex.justify-content-center.gap-2.flex-wrap.mt-3
                    button.btn.btn-primary.px-4(type='button' data-bs-toggle='modal' data-bs-target='#exampleModalDefault')
                      | Basic Modal
                    button.btn.btn-outline-primary.px-4(type='button' data-bs-toggle='modal' data-bs-target='#staticBackdropLive')
                      | Static Backdrop
                    button.btn.btn-outline-primary.px-4(type='button' data-bs-toggle='modal' data-bs-target='#exampleModalCenteredScrollable')
                      | Vertically Centered
                    button.btn.btn-outline-primary.px-4(type='button' data-bs-toggle='modal' data-bs-target='#exampleModalFullscreen')
                      | Fullscreen
          article#navs.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Navs & Tabs
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/components/navs-tabs/' target='_blank') Documentation
            div
              .card.mb-4
                .card-header.bg-transparent
                  ul#nav-tab.nav.nav-pills.card-header-pills(role='tablist')
                    li.nav-item
                      button#nav-home-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#nav-home' type='button' role='tab') Dashboard
                    li.nav-item
                      button#nav-profile-tab.nav-link(data-bs-toggle='tab' data-bs-target='#nav-profile' type='button' role='tab') Settings
                    li.nav-item
                      button#nav-contact-tab.nav-link(data-bs-toggle='tab' data-bs-target='#nav-contact' type='button' role='tab') Messages
                .card-body
                  #nav-tabContent.tab-content
                    #nav-home.tab-pane.fade.show.active(role='tabpanel')
                      p.mb-0 The dashboard tab provides a high-level overview of system performance and recent activities. Interactive charts and quick stats are usually placed here.
                    #nav-profile.tab-pane.fade(role='tabpanel')
                      p.mb-0 Manage your application preferences, security settings, and user profile information in this dedicated tab.
                    #nav-contact.tab-pane.fade(role='tabpanel')
                      p.mb-0 Access your communication history and system alerts. Stay connected with your team through integrated messaging.
          article#navbar.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Navbar
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/components/navbar/' target='_blank') Documentation
            div
              nav.navbar.navbar-expand-lg.bg-body.rounded.border.mt-3.px-3
                .container-fluid
                  a.navbar-brand.fw-bold.text-primary(href='#') Brand
                  button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent')
                    span.navbar-toggler-icon
                  #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0
                      li.nav-item
                        a.nav-link.active(href='#') Home
                      li.nav-item
                        a.nav-link(href='#') Services
                      li.nav-item.dropdown
                        a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown') Solutions
                        ul.dropdown-menu.border-0
                          li: a.dropdown-item(href='#') Enterprise
                          li: a.dropdown-item(href='#') Startups
                          li: hr.dropdown-divider
                          li: a.dropdown-item(href='#') Case Studies
                    form.d-flex
                      input.form-control.me-2(type='search' placeholder='Search catalogs...')
                      button.btn.btn-primary(type='submit') Search
          article#pagination.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Pagination
              a.d-flex.align-items-center(href='../components/pagination/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  nav(aria-label='Pagination example')
                    ul.pagination.pagination-sm
                      li.page-item
                        a.page-link(href='#') 1
                      li.page-item.active(aria-current='page')
                        a.page-link(href='#') 2
                      li.page-item
                        a.page-link(href='#') 3
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  nav(aria-label='Standard pagination example')
                    ul.pagination
                      li.page-item
                        a.page-link(href='#' aria-label='Previous')
                          span(aria-hidden='true') &laquo;
                      li.page-item
                        a.page-link(href='#') 1
                      li.page-item
                        a.page-link(href='#') 2
                      li.page-item
                        a.page-link(href='#') 3
                      li.page-item
                        a.page-link(href='#' aria-label='Next')
                          span(aria-hidden='true') &raquo;
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  nav(aria-label='Another pagination example')
                    ul.pagination.pagination-lg.flex-wrap
                      li.page-item.disabled
                        a.page-link Previous
                      li.page-item
                        a.page-link(href='#') 1
                      li.page-item.active(aria-current='page')
                        a.page-link(href='#') 2
                      li.page-item
                        a.page-link(href='#') 3
                      li.page-item
                        a.page-link(href='#') Next
          article#popovers.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Popovers
              a.d-flex.align-items-center(href='../components/popovers/') Documentation
            div
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  button.btn.btn-lg.btn-danger(type='button' data-bs-toggle='popover' title='Popover title' data-bs-content="And here's some amazing content. It's very engaging. Right?") Click to toggle popover
              .bd-example-snippet.bd-code-snippet
                .bd-example
                  button.btn.btn-secondary(type='button' data-bs-container='body' data-bs-toggle='popover' data-bs-placement='top' data-bs-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                    | Popover on top
                  button.btn.btn-secondary(type='button' data-bs-container='body' data-bs-toggle='popover' data-bs-placement='right' data-bs-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                    | Popover on end
                  button.btn.btn-secondary(type='button' data-bs-container='body' data-bs-toggle='popover' data-bs-placement='bottom' data-bs-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                    | Popover on bottom
                  button.btn.btn-secondary(type='button' data-bs-container='body' data-bs-toggle='popover' data-bs-placement='left' data-bs-content='Vivamus sagittis lacus vel augue laoreet rutrum faucibus.')
                    | Popover on start
          article#progress.my-3
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Progress & Spinners
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/components/progress/' target='_blank') Documentation
            div
              .card.mb-4
                .card-body.p-4
                  .mb-4
                    label.small.fw-bold.text-muted.text-uppercase.mb-2 System Load
                    .progress(style='height: 10px;')
                      .progress-bar.bg-primary.progress-bar-striped.progress-bar-animated(style='width: 65%')
                  .mb-0.d-flex.gap-3.align-items-center
                    .spinner-border.text-primary(role='status')
                    .spinner-grow.text-success(role='status')
                    .spinner-grow.text-warning(role='status')
                    span.text-muted Processing data...

          article#tooltips.mt-3.mb-5.pb-5
            .bd-heading.align-self-start.mt-5.mb-3.mt-xl-0.mb-xl-2
              h3 Tips & Popovers
              a.d-flex.align-items-center(href='https://getbootstrap.com/docs/5.3/components/tooltips/' target='_blank') Documentation
            div
              .card
                .card-body.p-4.text-center
                  i.bi.bi-chat-left-dots.display-4.text-primary.mb-3
                  h5 Contextual Information
                  p.text-muted Enhancing user experience with helpful hints.
                  .d-flex.justify-content-center.gap-2.flex-wrap.mt-3
                    button.btn.btn-secondary(type='button' data-bs-toggle='tooltip' data-bs-placement='top' title='Helpful information on top') Tooltip Top
                    button.btn.btn-secondary(type='button' data-bs-toggle='popover' title='Advanced Info' data-bs-content='Detailed explanation of this feature provided in a popover overlay.') Popover Example

  #exampleModalDefault.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h1#exampleModalLabel.modal-title.fs-5 Modal title
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  #staticBackdropLive.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLiveLabel' aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          h1#staticBackdropLiveLabel.modal-title.fs-5 Modal title
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          p I will not close if you click outside me. Don&apos;t even try to press escape key.
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          button.btn.btn-primary(type='button') Understood
  #exampleModalCenteredScrollable.modal.fade(tabindex='-1' aria-labelledby='exampleModalCenteredScrollableTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
      .modal-content
        .modal-header
          h1#exampleModalCenteredScrollableTitle.modal-title.fs-5 Modal title
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          p
            | This is some placeholder content to show the scrolling behavior for modals. We use repeated line breaks to demonstrate how content can exceed minimum inner height, thereby showing inner scrolling. When content becomes longer than the predefined max-height of modal, content will be cropped and scrollable within the modal.
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          p This content should appear at the bottom after you scroll.
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  #exampleModalFullscreen.modal.fade(tabindex='-1' aria-labelledby='exampleModalFullscreenLabel' aria-hidden='true')
    .modal-dialog.modal-fullscreen
      .modal-content
        .modal-header
          h1#exampleModalFullscreenLabel.modal-title.fs-4 Full screen modal
          button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close

