{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2024,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "es2024": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "semi": ["error", "always"],
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "no-console": ["warn", { "allow": ["warn", "error"] }]
  }
}
