# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.pnpm-debug.log*

# Build
dist/
.tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Other
.env
.env.local
.env.*.local
.cache/
.eslintcache
.stylelintcache

pnpm-lock.yaml
scratch