.alert {
  border-left: 0.25rem solid var(--#{$prefix}alert-color);

  > :last-child {
    margin-bottom: 0;
  }
}

@each $state in map-keys($theme-colors) {
  .alert-#{$state} {
    --#{$prefix}alert-color: var(--#{$prefix}#{$state}-text-emphasis);
    --#{$prefix}alert-bg: var(--#{$prefix}#{$state}-bg-subtle);
    --#{$prefix}alert-border-color: var(--#{$prefix}#{$state}-border-subtle);
    --#{$prefix}alert-link-color: var(--#{$prefix}#{$state}-text-emphasis);
    border-left-color: var(--#{$prefix}#{$state}-border-subtle);
  }
}

@each $state in map-keys($theme-colors) {
  .alert-outline-#{$state} {
    --#{$prefix}alert-color: var(--#{$prefix}#{$state}-text-emphasis);
    --#{$prefix}alert-bg: transparent;
    --#{$prefix}alert-border-color: var(--#{$prefix}#{$state}-border-subtle);
    --#{$prefix}alert-link-color: var(--#{$prefix}#{$state}-text-emphasis);
    border-left-color: var(--#{$prefix}#{$state}-border-subtle);
  }
}

// Media layout (icono + contenido)
.alert-media {
  display: flex;
  align-items: center;

  .alert-icon {
    flex-shrink: 0;
    margin-right: 0.5rem;
    width: 30px;

    svg,
    i {
      width: 100%;
      height: auto;
    }
  }

  .alert-body {
    flex: 1 1 auto;
  }
}
