// Theme Colors

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @if $color == "light" {
      color: #000;
      background: $value;
    } @else {
      background: $value;
    }
  }

  .badge-light-#{$color} {
    color: shade-color($value, 80%);
    background-color: tint-color($value, 80%);
    border: 1px solid tint-color($value, 80%);
  }

  @if $enable-dark-mode {
    @include color-mode(dark) {
      .badge-light-#{$color} {
        color: tint-color($value, 40%);
        background-color: shade-color($value, 80%);
        border: 1px solid shade-color($value, 80%);
      }
    }
  }

  .badge-outline-#{$color} {
    color: $value;
    background-color: transparent;
    border: 1px solid $value;
  }
}

// Colors

@each $color, $value in $colors {
  .badge-#{$color} {
    background: $value;
  }

  .badge-light-#{$color} {
    color: shade-color($value, 80%);
    background-color: tint-color($value, 80%);
    border: 1px solid tint-color($value, 80%);
  }

  @if $enable-dark-mode {
    @include color-mode(dark) {
      .badge-light-#{$color} {
        color: tint-color($value, 40%);
        background-color: shade-color($value, 80%);
        border: 1px solid shade-color($value, 80%);
      }
    }
  }

  .badge-outline-#{$color} {
    color: $value;
    background-color: transparent;
    border: 1px solid $value;
  }
}
