.card {
  border-color: transparent;
}

.card-header,
.card-footer {
  border-color: transparent;
}

@if $enable-dark-mode {
  @include color-mode(dark) {

    .card,
    .card-header,
    .card-footer {
      border-color: transparent;
    }
  }
}

$card-status-size: 3px;
$card-border-width: 1px;

.card-status-top {
  position: absolute;
  top: -$card-border-width;
  right: -$card-border-width;
  left: -$card-border-width;

  height: $card-status-size;

  border-radius: var(--#{$prefix}card-border-radius) var(--#{$prefix}card-border-radius) 0 0;
}

.card-status-start {
  position: absolute;
  left: -$card-border-width;
  top: -$card-border-width; 
  bottom: -$card-border-width; 

  width: $card-status-size;
  height: auto;

  border-radius: var(--#{$prefix}card-border-radius) 0 0 var(--#{$prefix}card-border-radius);
}

.card-status-bottom {
  position: absolute;
  top: initial;
  bottom: -$card-border-width;
  right: -$card-border-width;
  left: -$card-border-width;

  width: auto;
  height: $card-status-size;

  border-radius: 0 0 var(--#{$prefix}card-border-radius) var(--#{$prefix}card-border-radius);
}

.card-status-end {
  position: absolute;
  right: -$card-border-width;
  top: -$card-border-width;
  bottom: -$card-border-width;

  width: $card-status-size;
  height: auto;

  border-radius: 0 var(--#{$prefix}card-border-radius) var(--#{$prefix}card-border-radius) 0;
}