.tab {
  margin-bottom: 2rem;

  .nav-tabs {
    border: 0;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--#{$prefix}secondary-bg);
      border-radius: 4px;
    }

    .nav-link {
      border: 0;
      border-radius: 0.2rem 0.2rem 0 0; 
      padding: 0.75rem 1rem;
      font-weight: 500;

      white-space: nowrap;
      flex: 0 0 auto; 

      transition: all 0.2s ease;

      // Iconos
      svg,
      i {
        margin-right: 0.5rem;
        height: 18px;
        width: 18px;
        vertical-align: text-bottom;
      }

      color: var(--#{$prefix}body-color);
      background: transparent;

      &:hover:not(.active) {
        background-color: var(--#{$prefix}tertiary-bg);
      }

      &.active {
        background: var(--#{$prefix}body-bg);
        color: var(--#{$prefix}primary);
        border-bottom: 2px solid var(--#{$prefix}primary); 
      }
    }
  }

  .tab-content {
    background: var(--#{$prefix}body-bg);
    border-radius: 0 0 0.2rem 0.2rem;
    padding: 1.25rem;
    border: none;
    box-shadow: none;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

// --- COLORES (Restaurados Estilo Sólido) ---
@each $color, $value in $theme-colors {
  .tab-#{$color} {

    .nav-tabs {
      .nav-link {

        &:hover:not(.active) {
          color: $value;
          background-color: rgba($value, 0.1);
        }

        &.active {
          background-color: $value !important; 
          color: #fff !important;
          border-bottom: 0; 
          border-radius: 0.2rem 0.2rem 0 0;
        }
      }
    }
  }
}

.tab-vertical {
  display: flex;
  flex-direction: row;

  .nav-tabs {
    flex-direction: column;
    flex: 0 0 auto;
    border: 0;
    border-right: none;
    overflow-x: hidden;
    height: 100%;

    .nav-link {
      border-radius: 0.2rem 0 0 0.2rem; 
      margin-bottom: 2px;
      width: 100%;
      text-align: left;
    }
  }

  .tab-content {
    flex: 1;
    border-left: 0;
    border-radius: 0 0.2rem 0.2rem 0;
  }
}

@include media-breakpoint-down(md) {
  .tab-vertical {
    flex-direction: column;

    .nav-tabs {
      flex-direction: row;
      border-right: 0;
      border-bottom: 1px solid var(--#{$prefix}border-color);

      overflow-x: auto;
      flex-wrap: nowrap;
      width: 100%;

      .nav-link {
        border-radius: 0.2rem 0.2rem 0 0;
        flex: 0 0 auto;
        margin-bottom: 0;
      }
    }

    .tab-content {
      border-left: 1px solid var(--#{$prefix}border-color);
      border-top: 0;
      border-radius: 0 0 0.2rem 0.2rem;
    }
  }
}