extends ../layouts/dashboard

append config
  -pageName = 'Profile'
  -pageUrl = 'account-profile'

block styles
  style.
    /* Avatar que se superpone sobre el cover */
    .card .position-absolute img {
      max-width: 170px;
    }

    @media (max-width: 576px) {
      .card .position-absolute img {
        max-width: 120px; /* avatar más pequeño en móviles */
      }
    }


block content
  .card.mb-3
    .card-body.p-4
      .position-relative.mb-5
        img.img-fluid.w-100.rounded.shadow(src='https://dummyimage.com/1200x300/ddd/000.jpg' alt='Cover Image')
        .position-absolute.top-100.start-50.translate-middle
          img.img-fluid.rounded-circle.border.border-3.border-white.shadow(src='https://dummyimage.com/200x200/000/fff.jpg' width='170' height='170' alt='Pirulug Avatar')
      .d-flex.flex-column.flex-md-row.align-items-center.justify-content-between.pt-5.text-center.text-md-start
        div
          h3.mb-1 Pirulug
          p.mb-0
            | Developer & Open Source Enthusiast
            br
            | Perú
        div.mt-3.mt-md-0
          a.btn.btn-primary.px-4(href='https://github.com/Pirulug' target='_blank')
            i.bi.bi-github.me-2
            | Follow on GitHub
      .d-flex.flex-wrap.gap-2.mt-4
        button.btn.btn-sm.btn-outline-secondary(type='button') Python
        button.btn.btn-sm.btn-outline-secondary(type='button') Open Source
        button.btn.btn-sm.btn-outline-secondary(type='button') Backend
        button.btn.btn-sm.btn-outline-secondary(type='button') DevOps

  .row
    .col-md-4
      .card.mb-3
        .card-body
          h5.h6.card-title About
          ul.list-unstyled.mb-0
            li.mb-1
              i.bi.bi-house.me-1
              | Lives in
              a(href='#') Perú
            li.mb-1
              i.bi.bi-briefcase.me-1
              | Works on
              a(href='https://github.com/Pirulug' target='_blank') GitHub Projects
            li.mb-1
              i.bi.bi-geo-alt.me-1
              | From
              a(href='#') Huaraz
        hr.my-0
        .card-body
          h5.h6.card-title Elsewhere
          ul.list-unstyled.mb-0
            li.mb-1.d-flex.justify-content-between.align-items-center.flex-wrap
              span
                i.bi.bi-github.me-1
                | GitHub
              a(href="https://github.com/Pirulug" target='_blank') @Pirulug
            li.mb-1.d-flex.justify-content-between.align-items-center.flex-wrap
              span
                i.bi.bi-twitter.me-1
                | Twitter
              a(href='https://twitter.com/Pirulug' target='_blank') @Pirulug
            li.mb-1.d-flex.justify-content-between.align-items-center.flex-wrap
              span
                i.bi.bi-facebook.me-1
                | Facebook
              a(href='#') Pirulug
            li.mb-1.d-flex.justify-content-between.align-items-center.flex-wrap
              span
                i.bi.bi-instagram.me-1
                | Instagram
              a(href='#') @Pirulug

    .col-md-8
      .card
        .card-header
          h5.card-title.mb-0 Activities
        .card-body.h-100
          .d-flex.align-items-start.mb-3
            img.rounded-circle.me-2(src='https://dummyimage.com/200x200/000/fff.jpg' width='36' height='36' alt='Pirulug')
            .flex-grow-1
              small.float-end.text-primary now
              strong Pirulug
              |  pushed new commits to
              strong GitHub
              br
              small.text-muted Today
          hr
          .d-grid
            a.btn.btn-primary(href='https://github.com/Pirulug' target='_blank') See more on GitHub


