extends ../layouts/auth

append config
  -pageName = 'Sing In'
  -pageUrl = 'pages-sign-in'

block content

  .container.d-flex.flex-column
    .row.vh-100
      .col-sm-10.col-md-8.col-lg-6.col-xl-5.mx-auto.d-table.h-100
        .d-table-cell.align-middle
          //-.text-center.mt-4
            h1.h2 Welcome back!
            p.lead
              | Sign in to your account to continue
          .card
            .card-body
              .m-sm-3
                h2.m-0 Sign In
                p.text-muted Enter your email and password to login
                form
                  .mb-3
                    label.form-label Email
                    input.form-control(type='email' name='email' placeholder='Enter your email')
                  .mb-3
                    label.form-label Password
                    //- input.form-control(type='password' name='password' placeholder='Enter your password')
                    #show_hide_password.input-group
                      input#inputChoosePassword.form-control.border-end-0(type='password' name='password' value='12345678' placeholder='Enter your password')
                      button#togglePassword.input-group-text.bg-transparent(type="button")
                        i.fa.fa-eye-slash
                    small
                      a(href='/auth-reset-password.html') Forgot password?
                  div
                    .form-check.align-items-center
                      input#customControlInline.form-check-input(type='checkbox' value='remember-me' name='remember-me' checked='')
                      label.form-check-label.text-small(for='customControlInline') Remember me
                  .d-grid.gap-2.mt-3
                    a.btn.btn-primary(href='/') Sign in

                .separator
                  span.separator-text Or continue with

                .d-flex.gap-2
                  a.flex-fill.btn.btn-google(href='/')
                    i.fab.fa-fw.fa-google
                  a.flex-fill.btn.btn-facebook(href='/')
                    i.fab.fa-fw.fa-facebook-f
                  a.flex-fill.btn.btn-github(href='/')
                    i.fab.fa-fw.fa-github

                .text-center.mt-3
                  |Don&apos;t have an account?
                  a(href='/auth-sign-up.html') Sign up


block scripts

  script.
    const togglePassword = document.getElementById("togglePassword");
    const passwordInput = document.getElementById("inputChoosePassword");
    const icon = togglePassword.querySelector("i");

    togglePassword.addEventListener("click", () => {
      // guardar selección actual
      let start = passwordInput.selectionStart;
      let end = passwordInput.selectionEnd;

      // cambiar tipo
      const isPassword = passwordInput.type === "password";
      passwordInput.type = isPassword ? "text" : "password";

      // asegurar foco
      passwordInput.focus();

      // si no hay selección previa, mover al final
      if (start === 0 && end === 0) {
        const len = passwordInput.value.length;
        passwordInput.setSelectionRange(len, len);
      } else {
        // restaurar selección previa
        passwordInput.setSelectionRange(start, end);
      }

      // alternar ícono
      icon.classList.toggle("fa-eye");
      icon.classList.toggle("fa-eye-slash");
    });
