extends ../layouts/auth

append config
  -pageName = 'Sing Up'
  -pageUrl = 'pages-sign-up'

block content

  .container.d-flex.flex-column
    .row.vh-100
      .col-sm-10.col-md-8.col-lg-6.col-xl-5.mx-auto.d-table.h-100
        .d-table-cell.align-middle
          .card.position-relative
            .wd-50.bg-body.p-2.shadow.rounded.position-absolute.translate-middle.top-0.start-50
              img.img-fluid.m-1(src='img/logo.png' width="40" height="40" alt='')

            .card-body
              .m-sm-3

                h2.m-0 Sign Up
                p.text-muted Enter your email and password to register
                
                form
                  .mb-3
                    label.form-label Full name
                    input.form-control(type='text' name='name' placeholder='Enter your name')
                  .mb-3
                    label.form-label Email
                    input.form-control(type='email' name='email' placeholder='Enter your email')
                  .mb-3
                    label.form-label Password
                    input.form-control(type='password' name='password' placeholder='Enter password')
                  .d-grid.gap-2.mt-3
                    a.btn.btn-primary(href='/') Sign up
                
                .separator 
                  span.separator-text Or continue with

                .d-flex.gap-2
                  a.flex-fill.btn.btn-google(href='/')
                    i.fab.fa-fw.fa-google
                  a.flex-fill.btn.btn-facebook(href='/')
                    i.fab.fa-fw.fa-facebook-f
                  a.flex-fill.btn.btn-github(href='/')
                    i.fab.fa-fw.fa-github

                .text-center.mt-3
                  | Already have account? 
                  a(href='/auth-sign-in.html') Log In
