extends ../layouts/auth

append config
  - pageName = 'Recover Password'
  - pageUrl = 'pages-recover-password'

block content
  .d-flex.min-vh-100.align-items-center.justify-content-center
    .container
      .row.justify-content-center
        .col-sm-10.col-md-8.col-lg-5.col-xl-4

          .text-center.mb-4
            .d-inline-flex.align-items-center.justify-content-center.bg-primary.text-white.rounded-3.mb-3(style="width: 48px; height: 48px;")
              i.fa-solid.fa-lock.fs-4
            h4.fw-bold.mb-1 Recover password
            p.text-body-secondary You are only one step away from your new password, recover your password now.

          .card.border.border-secondary-subtle.bg-body.rounded-3
            .card-body.p-4.p-sm-5

              form(action='#' method='post')
                .mb-3
                  label.form-label.fw-semibold(for='inputPassword') Password
                  .input-group.input-group-lg
                    input#inputPassword.form-control.border-end-0(
                      type='password' 
                      placeholder='Password'
                    )
                    button#togglePassword.input-group-text.bg-transparent.border-start-0(type="button")
                      i.fa-regular.fa-eye-slash.text-body-secondary

                .mb-4
                  label.form-label.fw-semibold(for='inputConfirmPassword') Confirm Password
                  input#inputConfirmPassword.form-control.form-control-lg(
                    type='password' 
                    placeholder='Confirm Password'
                  )

                .d-grid.mb-3
                  button.btn.btn-primary.btn-lg(type='submit') Change password

          .text-center.mt-4
            p.text-body-secondary.mb-0
              | Not recover? 
              a.fw-bold.text-decoration-none(href='/auth-sign-in.html') Login

block scripts
  script.
    const togglePassword = document.getElementById("togglePassword");
    const passwordInput = document.getElementById("inputPassword");
    const icon = togglePassword.querySelector("i");

    togglePassword.addEventListener("click", () => {
      const isPassword = passwordInput.type === "password";
      passwordInput.type = isPassword ? "text" : "password";
      passwordInput.focus();

      if(isPassword) {
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
      } else {
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
      }
    });