extends ../layouts/auth

append config
  - pageName = 'Reset Password'
  - pageUrl = 'pages-reset-password'

block content
  .d-flex.min-vh-100.align-items-center.justify-content-center
    .container
      .row.justify-content-center
        .col-sm-10.col-md-8.col-lg-5.col-xl-4

          .text-center.mb-4
            .d-inline-flex.align-items-center.justify-content-center.bg-primary.text-white.rounded-3.mb-3(style="width: 48px; height: 48px;")
              i.fa-solid.fa-envelope.fs-4
            h4.fw-bold.mb-1 Reset password
            p.text-body-secondary Enter your email to reset your password.

          .card.border.border-secondary-subtle.bg-body.rounded-3
            .card-body.p-4.p-sm-5

              form
                .mb-4
                  label.form-label.fw-semibold(for='inputEmail') Email
                  input#inputEmail.form-control.form-control-lg(
                    type='email' 
                    name='email' 
                    placeholder='Enter your email'
                  )

                .d-grid
                  a.btn.btn-primary.btn-lg(href='/') Reset password

          .text-center.mt-4
            p.text-body-secondary.mb-0 Don't have an account? 
              a.fw-bold.text-decoration-none(href='/auth-sign-up.html') Sign up