extends ../layouts/auth

append config
  -pageName = 'Recover Password'
  -pageUrl = 'pages-recover-password'

block content

  .container.d-flex.flex-column
    .row.vh-100
      .col-sm-10.col-md-8.col-lg-6.mx-auto.d-table.h-100
        .d-table-cell.align-middle
          .text-center.mt-4
            h1.h2 Recover password
            p.lead
              | You are only one step a way from your new password, recover your password now.
          .card.card-body
            .m-sm-4
              form(action='#' method='post')
                .mb-3
                  label.form-label Password
                  input.form-control(type='password' placeholder='Password')
                .mb-3  
                  label.form-label Confim Password
                  input.form-control(type='password' placeholder='Confim Password')

                .text-center.mt-3
                  a.btn.btn-primary(href='index.html') Change password
                  // <button type="submit" class="btn btn-primary">Change password</button>

              .mt-3.d-flex.justify-content-center.align-items-center
                span Not recover? 
                  a(href='./sign-up.html') Login