extends ../layouts/auth

append config
  -pageName = 'Reset Password'
  -pageUrl = 'pages-reset-password'

block content

  .container.d-flex.flex-column
    .row.vh-100
      .col-sm-10.col-md-8.col-lg-6.col-xl-5.mx-auto.d-table.h-100
        .d-table-cell.align-middle
          .text-center.mt-4
          .card
            .card-body
              .m-sm-3
                h2.m-0 Reset password
                p.text-muted Enter your email to reset your password.
                form
                  .mb-3
                    label.form-label Email
                    input.form-control(type='email' name='email' placeholder='Enter your email')
                  .d-grid.gap-2.mt-3
                    a.btn.btn-primary(href='/') Reset password
                
                .text-center.mt-3
                  | Don&apos;t have an account? 
                  a(href='/auth-sign-up.html') Sign up


