extends ../layouts/blog

block header
  // Page header with logo and tagline
  header.py-5.border-bottom.mb-4
    .container
      .text-center.my-5
        h1.fw-bolder Welcome to Blog Home!
        p.lead.mb-0 A Bootstrap 5 starter layout for your next blog homepage

block aside
  include ../includes/blog-aside

block content
  // Featured blog post
  .card.mb-4
    a(href='blog-post.html')
      img.card-img-top(src='https://dummyimage.com/850x350/dee2e6/6c757d.jpg', alt='...')
    .card-body
      .small.text-muted January 1, 2022
      h2.card-title Featured Post Title
      p.card-text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
      a.btn.btn-primary(href='blog-post.html') Read more →

  // Nested row for non-featured blog posts
  .row

    .col-lg-6
      // Blog post
      .card.mb-4
        a(href='blog-post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
          a.btn.btn-primary(href='blog-post.html') Read more →
      // Blog post
      .card.mb-4
        a(href='blog-post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
          a.btn.btn-primary(href='blog-post.html') Read more →
    .col-lg-6
      // Blog post
      .card.mb-4
        a(href='blog-post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
          a.btn.btn-primary(href='blog-post.html') Read more →
      // Blog post
      .card.mb-4
        a(href='blog-post.html')
          img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg', alt='...')
        .card-body
          .small.text-muted January 1, 2022
          h2.card-title.h4 Post Title
          p.card-text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
          a.btn.btn-primary(href='blog-post.html') Read more →

  // Pagination
  nav(aria-label='Pagination')
    hr.my-0
    ul.pagination.justify-content-center.my-4
      li.page-item.disabled
        a.page-link(href='#', tabindex='-1', aria-disabled='true') Newer
      li.page-item.active(aria-current='page')
        a.page-link(href='#') 1
      li.page-item
        a.page-link(href='#') 2
      li.page-item
        a.page-link(href='#') 3
      li.page-item.disabled
        a.page-link(href='#') ...
      li.page-item
        a.page-link(href='#') 15
      li.page-item
        a.page-link(href='#') Older
