extends ../layouts/dashboard

append config
  -pageName = 'Charts'
  -pageUrl = 'charts-chartjs'

block content
  .row
    .col-12.col-lg-6
      .card.mb-3.flex-fill.w-100
        .card-header
          h5.card-title Line Chart
          h6.card-subtitle.text-muted A line chart is a way of plotting data points on a line.
        .card-body
          .chart
            canvas#chartjs-line
    .col-12.col-lg-6
      .card.mb-3
        .card-header
          h5.card-title Bar Chart
          h6.card-subtitle.text-muted A bar chart provides a way of showing data values represented as vertical bars.
        .card-body
          .chart
            canvas#chartjs-bar
    .col-12.col-lg-6
      .card
        .card-header
          h5.card-title Doughnut Chart
          h6.card-subtitle.text-muted
            | Doughnut charts are excellent at showing the relational proportions between data.
        .card-body
          .chart.chart-sm
            canvas#chartjs-doughnut
    .col-12.col-lg-6
      .card
        .card-header
          h5.card-title Pie Chart
          h6.card-subtitle.text-muted Pie charts are excellent at showing the relational proportions between data.
        .card-body
          .chart.chart-sm
            canvas#chartjs-pie

block scripts 

  script(src='js/chartjs.js')

  script.

    // Line chart
    new Chart(document.getElementById("chartjs-line"), {
      type: "line",
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Sales ($)",
          fill: true,
          backgroundColor: "transparent",
          borderColor: window.theme.primary,
          data: [2115, 1562, 1584, 1892, 1487, 2223, 2966, 2448, 2905, 3838, 2917, 3327]
        }, {
          label: "Orders",
          fill: true,
          backgroundColor: "transparent",
          borderColor: "#adb5bd",
          borderDash: [4, 4],
          data: [958, 724, 629, 883, 915, 1214, 1476, 1212, 1554, 2128, 1466, 1827]
        }]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        tooltips: {
          intersect: false
        },
        hover: {
          intersect: true
        },
        plugins: {
          filler: {
            propagate: false
          }
        },
        scales: {
          xAxes: [{
            reverse: true,
            gridLines: {
              color: "rgba(0,0,0,0.05)"
            }
          }],
          yAxes: [{
            ticks: {
              stepSize: 500
            },
            display: true,
            borderDash: [5, 5],
            gridLines: {
              color: "rgba(0,0,0,0)",
              fontColor: "#fff"
            }
          }]
        }
      }
    });

    // Bar chart
    new Chart(document.getElementById("chartjs-bar"), {
      type: "bar",
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
        datasets: [{
          label: "Last year",
          backgroundColor: window.theme.primary,
          borderColor: window.theme.primary,
          hoverBackgroundColor: window.theme.primary,
          hoverBorderColor: window.theme.primary,
          data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
          barPercentage: .75,
          categoryPercentage: .5
        }, {
          label: "This year",
          backgroundColor: "#dee2e6",
          borderColor: "#dee2e6",
          hoverBackgroundColor: "#dee2e6",
          hoverBorderColor: "#dee2e6",
          data: [69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68],
          barPercentage: .75,
          categoryPercentage: .5
        }]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: false
            },
            stacked: false,
            ticks: {
              stepSize: 20
            }
          }],
          xAxes: [{
            stacked: false,
            gridLines: {
              color: "transparent"
            }
          }]
        }
      }
    });

    // Doughnut chart
    new Chart(document.getElementById("chartjs-doughnut"), {
      type: "doughnut",
      data: {
        labels: ["Social", "Search Engines", "Direct", "Other"],
        datasets: [{
          data: [260, 125, 54, 146],
          backgroundColor: [
            window.theme.primary,
            window.theme.success,
            window.theme.warning,
            "#dee2e6"
          ],
          borderColor: "transparent"
        }]
      },
      options: {
        maintainAspectRatio: false,
        cutoutPercentage: 65,
        legend: {
          display: false
        }
      }
    });

	
    // Pie chart
    new Chart(document.getElementById("chartjs-pie"), {
      type: "pie",
      data: {
        labels: ["Social", "Search Engines", "Direct", "Other"],
        datasets: [{
          data: [260, 125, 54, 146],
          backgroundColor: [
            window.theme.primary,
            window.theme.warning,
            window.theme.danger,
            "#dee2e6"
          ],
          borderColor: "transparent"
        }]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        }
      }
    });



