extends ../layouts/dashboard

append config
  -pageName = 'Dashboard'
  -pageUrl = 'dashboard'

block content

  .row.g-4
    .col-sm-6.col-xl-3
      .card.mb-3
        .card-body
          .row
            .col-auto
              .stat.stat-primary
                i.align-middle(data-feather='truck')
            .col.mt-0
              h5.text-end Sales
          h2.h1.mt-1.mb-0.text-end 2.382
          
    .col-sm-6.col-xl-3 
      .card.mb-3
        .card-body
          .row
            .col-auto
              .stat.stat-success
                i.align-middle(data-feather='users')
            .col.mt-0
              h5.text-end Visitors
          h2.h1.mt-1.mb-0.text-end 14.212
          
    .col-sm-6.col-xl-3
      .card.mb-3
        .card-body
          .row
            .col-auto
              .stat.stat-info
                i.align-middle(data-feather='dollar-sign')
            .col.mt-0
              h5.text-end Earnings
          h2.h1.mt-1.mb-0.text-end $21.300
          
    .col-sm-6.col-xl-3  
      .card.mb-3
        .card-body
          .row
            .col-auto
              .stat.stat-danger
                i.align-middle(data-feather='shopping-cart')
            .col.mt-0
              h5.text-end Orders
          h2.h1.mt-1.mb-0.text-end 64

  .row.g-4
    .col-12.col-md-12.col-xxl-6.d-flex.order-3.order-xxl-2
      .card.mb-3.flex-fill.w-100
        .card-header
          h5.card-title.mb-0 Recent Movement
        .card-body.py-3
          canvas#chartjs-dashboard-line
    .col-12.col-md-12.col-xxl-6.d-flex.order-3.order-xxl-2
      .card.mb-3.flex-fill.w-100
        .card-header
          h5.card-title.mb-0 Real-Time
        .card-body.px-4

          canvas#chartjs-dashboard-bar

  .row
    .col-12.d-flex
      .card.flex-fill.overflow-hidden
        .card-header
          h5.card-title.mb-0 Latest Projects
        table.table.table-hover.my-0
          thead
            tr
              th Name
              th.d-none.d-xl-table-cell Start Date
              th.d-none.d-xl-table-cell End Date
              th Status
              th.d-none.d-md-table-cell Assignee
          tbody
            tr
              td Project Apollo
              td.d-none.d-xl-table-cell 01/01/2021
              td.d-none.d-xl-table-cell 31/06/2021
              td
                span.badge.bg-success Done
              td.d-none.d-md-table-cell Vanessa Tucker
            tr
              td Project Fireball
              td.d-none.d-xl-table-cell 01/01/2021
              td.d-none.d-xl-table-cell 31/06/2021
              td
                span.badge.bg-danger Cancelled
              td.d-none.d-md-table-cell William Harris
            tr
              td Project Hades
              td.d-none.d-xl-table-cell 01/01/2021
              td.d-none.d-xl-table-cell 31/06/2021
              td
                span.badge.bg-success Done
              td.d-none.d-md-table-cell Sharon Lessman
            tr
              td Project Nitro
              td.d-none.d-xl-table-cell 01/01/2021
              td.d-none.d-xl-table-cell 31/06/2021
              td
                span.badge.bg-warning In progress
              td.d-none.d-md-table-cell Vanessa Tucker
            tr
              td Project Phoenix
              td.d-none.d-xl-table-cell 01/01/2021
              td.d-none.d-xl-table-cell 31/06/2021
              td
                span.badge.bg-success Done
              td.d-none.d-md-table-cell William Harris
            tr
              td Project X
              td.d-none.d-xl-table-cell 01/01/2021
              td.d-none.d-xl-table-cell 31/06/2021
              td
                span.badge.bg-success Done
              td.d-none.d-md-table-cell Sharon Lessman
            tr
              td Project Romeo
              td.d-none.d-xl-table-cell 01/01/2021
              td.d-none.d-xl-table-cell 31/06/2021
              td
                span.badge.bg-success Done
              td.d-none.d-md-table-cell Christina Mason
            tr
              td Project Wombat
              td.d-none.d-xl-table-cell 01/01/2021
              td.d-none.d-xl-table-cell 31/06/2021
              td
                span.badge.bg-warning In progress
              td.d-none.d-md-table-cell William Harris

block scripts 

  script(src='js/chartjs.js')

  script.

    const ctx = document.getElementById('chartjs-dashboard-line').getContext('2d');
    //- const labels = Utils.months({count: 7});
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
            datasets: [
              {
                label: 'Buys',
                borderColor: '#ff0055',
                backgroundColor: ["rgba(215, 227, 244, 1)", "rgba(215, 227, 244, 0)"],
                data: [
                  0,
                  20,
                  30,
                  60,
                  50,
                  80,
                  70,
                  20,
                  30,
                  90,
                  80,
                  70
                ]              
            },
              {
                label: 'Sales',
                borderColor: '#e67e22',
                backgroundColor: ["rgba(215, 227, 244, 1)", "rgba(215, 227, 244, 0)"],
                data: [
                  0,
                  90,
                  30,
                  10,
                  20,
                  70,
                  10,
                  60,
                  50,
                  80,
                  70,
                  80
                ]              
            }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });


    // Bar chart
    new Chart(document.getElementById("chartjs-dashboard-bar"), {
      type: "bar",
      data: {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dic"],
        datasets: [
          {
          label: "USA",
          backgroundColor: "#9b59b6",
          data: [80, 79, 76, 99, 55, 62, 48, 4, 55, 73, 45, 60],
          barPercentage: .75,
          categoryPercentage: .5
        },
          {
          label: "UK",
          backgroundColor: "#e67e22",
          data: [73, 55, 45, 76, 48, 55, 62, 80, 79, 4, 60, 99],
          barPercentage: .75,
          categoryPercentage: .5
        },
          {
          label: "PEN",
          backgroundColor: "#3498db",
          data: [48, 73, 4, 99, 79, 80, 62, 60, 76, 55, 55, 45],
          barPercentage: .75,
          categoryPercentage: .5
        },
        ]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
      }
    });
