extends ../layouts/auth

append config
  -pageName = '500'
  -pageUrl = 'pages-500'

block content

  .container.d-flex.flex-column
    .row.vh-100
      .col-sm-10.col-md-8.col-lg-6.mx-auto.d-table.h-100
        .d-table-cell.align-middle
          .text-center
            h2.display-1
              i.fa.fa-exclamation-triangle.text-primary
            h1.display-1.fw-bold 500
            p.h1 Internal server error.
            p.h2.fw-normal.mt-3.mb-4
              | The server encountered something unexpected that didn&apos;t allow it to complete the request.
            a.btn.btn-primary.btn-lg(href='dashboard.html') Return to website
