extends ../layouts/dashboard

append config
  -pageName = 'Font Awesome Icons'
  -pageUrl = 'icons-awesome'

block content	

  .card
    .card-header
      h3.card-title Font Awesome Icons
      h6.card-subtitle.text-muted The web&rsquo;s most popular icon set and toolkit
    .card-body
      .row
        -const icons = require('../../data/fontawesome_icons.json')

        each icon in icons
          .col-12.col-md-6.col-lg-3.mb-2
            if icon.type == "brands"
              i(class=`align-middle me-2 fa-brands fa-${icon.name}`)
              span.align-middle= icon.label
            else
              i(class=`align-middle me-2 fa fa-${icon.name}`)
              span.align-middle= icon.label
    