extends ../layouts/dashboard

append config
  -pageName = 'Icons'
  -pageUrl = 'icons-feather'

block content	

  .card
    .card-header
      h3.card-title Feather Icons
        
      h6.card-subtitle.text-muted Simply beautiful open source icons
        a(href="https://feathericons.com/", target="_blank", rel="noopener noreferrer")
            | Feather Icons 
    .card-body
      .row
        .col-12.col-md-6.col-lg-3
          .mb-2
            i.align-middle.me-2(data-feather='activity')
            span.align-middle activity
          .mb-2
            i.align-middle.me-2(data-feather='airplay')
            span.align-middle airplay
          .mb-2
            i.align-middle.me-2(data-feather='alert-circle')
            span.align-middle alert-circle
          .mb-2
            i.align-middle.me-2(data-feather='alert-octagon')
            span.align-middle alert-octagon
          .mb-2
            i.align-middle.me-2(data-feather='alert-triangle')
            span.align-middle alert-triangle
          .mb-2
            i.align-middle.me-2(data-feather='align-center')
            span.align-middle align-center
          .mb-2
            i.align-middle.me-2(data-feather='align-justify')
            span.align-middle align-justify
          .mb-2
            i.align-middle.me-2(data-feather='align-left')
            span.align-middle align-left
          .mb-2
            i.align-middle.me-2(data-feather='align-right')
            span.align-middle align-right
          .mb-2
            i.align-middle.me-2(data-feather='anchor')
            span.align-middle anchor
          .mb-2
            i.align-middle.me-2(data-feather='aperture')
            span.align-middle aperture
          .mb-2
            i.align-middle.me-2(data-feather='arrow-down')
            span.align-middle arrow-down
          .mb-2
            i.align-middle.me-2(data-feather='arrow-down-circle')
            span.align-middle arrow-down-circle
          .mb-2
            i.align-middle.me-2(data-feather='arrow-down-left')
            span.align-middle arrow-down-left
          .mb-2
            i.align-middle.me-2(data-feather='arrow-down-right')
            span.align-middle arrow-down-right
          .mb-2
            i.align-middle.me-2(data-feather='arrow-left')
            span.align-middle arrow-left
          .mb-2
            i.align-middle.me-2(data-feather='arrow-left-circle')
            span.align-middle arrow-left-circle
          .mb-2
            i.align-middle.me-2(data-feather='arrow-right')
            span.align-middle arrow-right
          .mb-2
            i.align-middle.me-2(data-feather='arrow-right-circle')
            span.align-middle arrow-right-circle
          .mb-2
            i.align-middle.me-2(data-feather='arrow-up')
            span.align-middle arrow-up
          .mb-2
            i.align-middle.me-2(data-feather='arrow-up-circle')
            span.align-middle arrow-up-circle
          .mb-2
            i.align-middle.me-2(data-feather='arrow-up-left')
            span.align-middle arrow-up-left
          .mb-2
            i.align-middle.me-2(data-feather='arrow-up-right')
            span.align-middle arrow-up-right
          .mb-2
            i.align-middle.me-2(data-feather='at-sign')
            span.align-middle at-sign
          .mb-2
            i.align-middle.me-2(data-feather='award')
            span.align-middle award
          .mb-2
            i.align-middle.me-2(data-feather='bar-chart')
            span.align-middle bar-chart
          .mb-2
            i.align-middle.me-2(data-feather='bar-chart-2')
            span.align-middle bar-chart-2
          .mb-2
            i.align-middle.me-2(data-feather='battery')
            span.align-middle battery
          .mb-2
            i.align-middle.me-2(data-feather='battery-charging')
            span.align-middle battery-charging
          .mb-2
            i.align-middle.me-2(data-feather='bell')
            span.align-middle bell
          .mb-2
            i.align-middle.me-2(data-feather='bell-off')
            span.align-middle bell-off
          .mb-2
            i.align-middle.me-2(data-feather='bluetooth')
            span.align-middle bluetooth
          .mb-2
            i.align-middle.me-2(data-feather='bold')
            span.align-middle bold
          .mb-2
            i.align-middle.me-2(data-feather='book')
            span.align-middle book
          .mb-2
            i.align-middle.me-2(data-feather='book-open')
            span.align-middle book-open
          .mb-2
            i.align-middle.me-2(data-feather='bookmark')
            span.align-middle bookmark
          .mb-2
            i.align-middle.me-2(data-feather='box')
            span.align-middle box
          .mb-2
            i.align-middle.me-2(data-feather='briefcase')
            span.align-middle briefcase
          .mb-2
            i.align-middle.me-2(data-feather='calendar')
            span.align-middle calendar
          .mb-2
            i.align-middle.me-2(data-feather='camera')
            span.align-middle camera
          .mb-2
            i.align-middle.me-2(data-feather='camera-off')
            span.align-middle camera-off
          .mb-2
            i.align-middle.me-2(data-feather='cast')
            span.align-middle cast
          .mb-2
            i.align-middle.me-2(data-feather='check')
            span.align-middle check
          .mb-2
            i.align-middle.me-2(data-feather='check-circle')
            span.align-middle check-circle
          .mb-2
            i.align-middle.me-2(data-feather='check-square')
            span.align-middle check-square
          .mb-2
            i.align-middle.me-2(data-feather='chevron-down')
            span.align-middle chevron-down
          .mb-2
            i.align-middle.me-2(data-feather='chevron-left')
            span.align-middle chevron-left
          .mb-2
            i.align-middle.me-2(data-feather='chevron-right')
            span.align-middle chevron-right
          .mb-2
            i.align-middle.me-2(data-feather='chevron-up')
            span.align-middle chevron-up
          .mb-2
            i.align-middle.me-2(data-feather='chevrons-down')
            span.align-middle chevrons-down
          .mb-2
            i.align-middle.me-2(data-feather='chevrons-left')
            span.align-middle chevrons-left
          .mb-2
            i.align-middle.me-2(data-feather='chevrons-right')
            span.align-middle chevrons-right
          .mb-2
            i.align-middle.me-2(data-feather='chevrons-up')
            span.align-middle chevrons-up
          .mb-2
            i.align-middle.me-2(data-feather='chrome')
            span.align-middle chrome
          .mb-2
            i.align-middle.me-2(data-feather='circle')
            span.align-middle circle
          .mb-2
            i.align-middle.me-2(data-feather='clipboard')
            span.align-middle clipboard
          .mb-2
            i.align-middle.me-2(data-feather='clock')
            span.align-middle clock
          .mb-2
            i.align-middle.me-2(data-feather='cloud')
            span.align-middle cloud
          .mb-2
            i.align-middle.me-2(data-feather='cloud-drizzle')
            span.align-middle cloud-drizzle
          .mb-2
            i.align-middle.me-2(data-feather='cloud-lightning')
            span.align-middle cloud-lightning
          .mb-2
            i.align-middle.me-2(data-feather='cloud-off')
            span.align-middle cloud-off
          .mb-2
            i.align-middle.me-2(data-feather='cloud-rain')
            span.align-middle cloud-rain
          .mb-2
            i.align-middle.me-2(data-feather='cloud-snow')
            span.align-middle cloud-snow
          .mb-2
            i.align-middle.me-2(data-feather='code')
            span.align-middle code
          .mb-2
            i.align-middle.me-2(data-feather='codepen')
            span.align-middle codepen
          .mb-2
            i.align-middle.me-2(data-feather='command')
            span.align-middle command
        .col-12.col-md-6.col-lg-3
          .mb-2
            i.align-middle.me-2(data-feather='compass')
            span.align-middle compass
          .mb-2
            i.align-middle.me-2(data-feather='copy')
            span.align-middle copy
          .mb-2
            i.align-middle.me-2(data-feather='corner-down-left')
            span.align-middle corner-down-left
          .mb-2
            i.align-middle.me-2(data-feather='corner-down-right')
            span.align-middle corner-down-right
          .mb-2
            i.align-middle.me-2(data-feather='corner-left-down')
            span.align-middle corner-left-down
          .mb-2
            i.align-middle.me-2(data-feather='corner-left-up')
            span.align-middle corner-left-up
          .mb-2
            i.align-middle.me-2(data-feather='corner-right-down')
            span.align-middle corner-right-down
          .mb-2
            i.align-middle.me-2(data-feather='corner-right-up')
            span.align-middle corner-right-up
          .mb-2
            i.align-middle.me-2(data-feather='corner-up-left')
            span.align-middle corner-up-left
          .mb-2
            i.align-middle.me-2(data-feather='corner-up-right')
            span.align-middle corner-up-right
          .mb-2
            i.align-middle.me-2(data-feather='cpu')
            span.align-middle cpu
          .mb-2
            i.align-middle.me-2(data-feather='credit-card')
            span.align-middle credit-card
          .mb-2
            i.align-middle.me-2(data-feather='crop')
            span.align-middle crop
          .mb-2
            i.align-middle.me-2(data-feather='crosshair')
            span.align-middle crosshair
          .mb-2
            i.align-middle.me-2(data-feather='database')
            span.align-middle database
          .mb-2
            i.align-middle.me-2(data-feather='delete')
            span.align-middle delete
          .mb-2
            i.align-middle.me-2(data-feather='disc')
            span.align-middle disc
          .mb-2
            i.align-middle.me-2(data-feather='dollar-sign')
            span.align-middle dollar-sign
          .mb-2
            i.align-middle.me-2(data-feather='download')
            span.align-middle download
          .mb-2
            i.align-middle.me-2(data-feather='download-cloud')
            span.align-middle download-cloud
          .mb-2
            i.align-middle.me-2(data-feather='droplet')
            span.align-middle droplet
          .mb-2
            i.align-middle.me-2(data-feather='edit')
            span.align-middle edit
          .mb-2
            i.align-middle.me-2(data-feather='edit-2')
            span.align-middle edit-2
          .mb-2
            i.align-middle.me-2(data-feather='edit-3')
            span.align-middle edit-3
          .mb-2
            i.align-middle.me-2(data-feather='external-link')
            span.align-middle external-link
          .mb-2
            i.align-middle.me-2(data-feather='eye')
            span.align-middle eye
          .mb-2
            i.align-middle.me-2(data-feather='eye-off')
            span.align-middle eye-off
          .mb-2
            i.align-middle.me-2(data-feather='facebook')
            span.align-middle facebook
          .mb-2
            i.align-middle.me-2(data-feather='fast-forward')
            span.align-middle fast-forward
          .mb-2
            i.align-middle.me-2(data-feather='feather')
            span.align-middle feather
          .mb-2
            i.align-middle.me-2(data-feather='file')
            span.align-middle file
          .mb-2
            i.align-middle.me-2(data-feather='file-minus')
            span.align-middle file-minus
          .mb-2
            i.align-middle.me-2(data-feather='file-plus')
            span.align-middle file-plus
          .mb-2
            i.align-middle.me-2(data-feather='file-text')
            span.align-middle file-text
          .mb-2
            i.align-middle.me-2(data-feather='film')
            span.align-middle film
          .mb-2
            i.align-middle.me-2(data-feather='filter')
            span.align-middle filter
          .mb-2
            i.align-middle.me-2(data-feather='flag')
            span.align-middle flag
          .mb-2
            i.align-middle.me-2(data-feather='folder')
            span.align-middle folder
          .mb-2
            i.align-middle.me-2(data-feather='folder-minus')
            span.align-middle folder-minus
          .mb-2
            i.align-middle.me-2(data-feather='folder-plus')
            span.align-middle folder-plus
          .mb-2
            i.align-middle.me-2(data-feather='git-branch')
            span.align-middle git-branch
          .mb-2
            i.align-middle.me-2(data-feather='git-commit')
            span.align-middle git-commit
          .mb-2
            i.align-middle.me-2(data-feather='git-merge')
            span.align-middle git-merge
          .mb-2
            i.align-middle.me-2(data-feather='git-pull-request')
            span.align-middle git-pull-request
          .mb-2
            i.align-middle.me-2(data-feather='github')
            span.align-middle github
          .mb-2
            i.align-middle.me-2(data-feather='gitlab')
            span.align-middle gitlab
          .mb-2
            i.align-middle.me-2(data-feather='globe')
            span.align-middle globe
          .mb-2
            i.align-middle.me-2(data-feather='grid')
            span.align-middle grid
          .mb-2
            i.align-middle.me-2(data-feather='hard-drive')
            span.align-middle hard-drive
          .mb-2
            i.align-middle.me-2(data-feather='hash')
            span.align-middle hash
          .mb-2
            i.align-middle.me-2(data-feather='headphones')
            span.align-middle headphones
          .mb-2
            i.align-middle.me-2(data-feather='heart')
            span.align-middle heart
          .mb-2
            i.align-middle.me-2(data-feather='help-circle')
            span.align-middle help-circle
          .mb-2
            i.align-middle.me-2(data-feather='home')
            span.align-middle home
          .mb-2
            i.align-middle.me-2(data-feather='image')
            span.align-middle image
          .mb-2
            i.align-middle.me-2(data-feather='inbox')
            span.align-middle inbox
          .mb-2
            i.align-middle.me-2(data-feather='info')
            span.align-middle info
          .mb-2
            i.align-middle.me-2(data-feather='instagram')
            span.align-middle instagram
          .mb-2
            i.align-middle.me-2(data-feather='italic')
            span.align-middle italic
          .mb-2
            i.align-middle.me-2(data-feather='layers')
            span.align-middle layers
          .mb-2
            i.align-middle.me-2(data-feather='layout')
            span.align-middle layout
          .mb-2
            i.align-middle.me-2(data-feather='link')
            span.align-middle link
          .mb-2
            i.align-middle.me-2(data-feather='link-2')
            span.align-middle link-2
          .mb-2
            i.align-middle.me-2(data-feather='linkedin')
            span.align-middle linkedin
          .mb-2
            i.align-middle.me-2(data-feather='list')
            span.align-middle list
          .mb-2
            i.align-middle.me-2(data-feather='loader')
            span.align-middle loader
        .col-12.col-md-6.col-lg-3
          .mb-2
            i.align-middle.me-2(data-feather='lock')
            span.align-middle lock
          .mb-2
            i.align-middle.me-2(data-feather='log-in')
            span.align-middle log-in
          .mb-2
            i.align-middle.me-2(data-feather='log-out')
            span.align-middle log-out
          .mb-2
            i.align-middle.me-2(data-feather='mail')
            span.align-middle mail
          .mb-2
            i.align-middle.me-2(data-feather='map')
            span.align-middle map
          .mb-2
            i.align-middle.me-2(data-feather='map-pin')
            span.align-middle map-pin
          .mb-2
            i.align-middle.me-2(data-feather='maximize')
            span.align-middle maximize
          .mb-2
            i.align-middle.me-2(data-feather='maximize-2')
            span.align-middle maximize-2
          .mb-2
            i.align-middle.me-2(data-feather='menu')
            span.align-middle menu
          .mb-2
            i.align-middle.me-2(data-feather='message-circle')
            span.align-middle message-circle
          .mb-2
            i.align-middle.me-2(data-feather='message-square')
            span.align-middle message-square
          .mb-2
            i.align-middle.me-2(data-feather='mic')
            span.align-middle mic
          .mb-2
            i.align-middle.me-2(data-feather='mic-off')
            span.align-middle mic-off
          .mb-2
            i.align-middle.me-2(data-feather='minimize')
            span.align-middle minimize
          .mb-2
            i.align-middle.me-2(data-feather='minimize-2')
            span.align-middle minimize-2
          .mb-2
            i.align-middle.me-2(data-feather='minus')
            span.align-middle minus
          .mb-2
            i.align-middle.me-2(data-feather='minus-circle')
            span.align-middle minus-circle
          .mb-2
            i.align-middle.me-2(data-feather='minus-square')
            span.align-middle minus-square
          .mb-2
            i.align-middle.me-2(data-feather='monitor')
            span.align-middle monitor
          .mb-2
            i.align-middle.me-2(data-feather='moon')
            span.align-middle moon
          .mb-2
            i.align-middle.me-2(data-feather='more-horizontal')
            span.align-middle more-horizontal
          .mb-2
            i.align-middle.me-2(data-feather='more-vertical')
            span.align-middle more-vertical
          .mb-2
            i.align-middle.me-2(data-feather='move')
            span.align-middle move
          .mb-2
            i.align-middle.me-2(data-feather='music')
            span.align-middle music
          .mb-2
            i.align-middle.me-2(data-feather='navigation')
            span.align-middle navigation
          .mb-2
            i.align-middle.me-2(data-feather='navigation-2')
            span.align-middle navigation-2
          .mb-2
            i.align-middle.me-2(data-feather='octagon')
            span.align-middle octagon
          .mb-2
            i.align-middle.me-2(data-feather='package')
            span.align-middle package
          .mb-2
            i.align-middle.me-2(data-feather='paperclip')
            span.align-middle paperclip
          .mb-2
            i.align-middle.me-2(data-feather='pause')
            span.align-middle pause
          .mb-2
            i.align-middle.me-2(data-feather='pause-circle')
            span.align-middle pause-circle
          .mb-2
            i.align-middle.me-2(data-feather='percent')
            span.align-middle percent
          .mb-2
            i.align-middle.me-2(data-feather='phone')
            span.align-middle phone
          .mb-2
            i.align-middle.me-2(data-feather='phone-call')
            span.align-middle phone-call
          .mb-2
            i.align-middle.me-2(data-feather='phone-forwarded')
            span.align-middle phone-forwarded
          .mb-2
            i.align-middle.me-2(data-feather='phone-incoming')
            span.align-middle phone-incoming
          .mb-2
            i.align-middle.me-2(data-feather='phone-missed')
            span.align-middle phone-missed
          .mb-2
            i.align-middle.me-2(data-feather='phone-off')
            span.align-middle phone-off
          .mb-2
            i.align-middle.me-2(data-feather='phone-outgoing')
            span.align-middle phone-outgoing
          .mb-2
            i.align-middle.me-2(data-feather='pie-chart')
            span.align-middle pie-chart
          .mb-2
            i.align-middle.me-2(data-feather='play')
            span.align-middle play
          .mb-2
            i.align-middle.me-2(data-feather='play-circle')
            span.align-middle play-circle
          .mb-2
            i.align-middle.me-2(data-feather='plus')
            span.align-middle plus
          .mb-2
            i.align-middle.me-2(data-feather='plus-circle')
            span.align-middle plus-circle
          .mb-2
            i.align-middle.me-2(data-feather='plus-square')
            span.align-middle plus-square
          .mb-2
            i.align-middle.me-2(data-feather='pocket')
            span.align-middle pocket
          .mb-2
            i.align-middle.me-2(data-feather='power')
            span.align-middle power
          .mb-2
            i.align-middle.me-2(data-feather='printer')
            span.align-middle printer
          .mb-2
            i.align-middle.me-2(data-feather='radio')
            span.align-middle radio
          .mb-2
            i.align-middle.me-2(data-feather='refresh-ccw')
            span.align-middle refresh-ccw
          .mb-2
            i.align-middle.me-2(data-feather='refresh-cw')
            span.align-middle refresh-cw
          .mb-2
            i.align-middle.me-2(data-feather='repeat')
            span.align-middle repeat
          .mb-2
            i.align-middle.me-2(data-feather='rewind')
            span.align-middle rewind
          .mb-2
            i.align-middle.me-2(data-feather='rotate-ccw')
            span.align-middle rotate-ccw
          .mb-2
            i.align-middle.me-2(data-feather='rotate-cw')
            span.align-middle rotate-cw
          .mb-2
            i.align-middle.me-2(data-feather='rss')
            span.align-middle rss
          .mb-2
            i.align-middle.me-2(data-feather='save')
            span.align-middle save
          .mb-2
            i.align-middle.me-2(data-feather='scissors')
            span.align-middle scissors
          .mb-2
            i.align-middle.me-2(data-feather='search')
            span.align-middle search
          .mb-2
            i.align-middle.me-2(data-feather='send')
            span.align-middle send
          .mb-2
            i.align-middle.me-2(data-feather='server')
            span.align-middle server
          .mb-2
            i.align-middle.me-2(data-feather='settings')
            span.align-middle settings
          .mb-2
            i.align-middle.me-2(data-feather='share')
            span.align-middle share
          .mb-2
            i.align-middle.me-2(data-feather='share-2')
            span.align-middle share-2
          .mb-2
            i.align-middle.me-2(data-feather='shield')
            span.align-middle shield
          .mb-2
            i.align-middle.me-2(data-feather='shield-off')
            span.align-middle shield-off
        .col-12.col-md-6.col-lg-3
          .mb-2
            i.align-middle.me-2(data-feather='shopping-bag')
            span.align-middle shopping-bag
          .mb-2
            i.align-middle.me-2(data-feather='shopping-cart')
            span.align-middle shopping-cart
          .mb-2
            i.align-middle.me-2(data-feather='shuffle')
            span.align-middle shuffle
          .mb-2
            i.align-middle.me-2(data-feather='sidebar')
            span.align-middle sidebar
          .mb-2
            i.align-middle.me-2(data-feather='skip-back')
            span.align-middle skip-back
          .mb-2
            i.align-middle.me-2(data-feather='skip-forward')
            span.align-middle skip-forward
          .mb-2
            i.align-middle.me-2(data-feather='slack')
            span.align-middle slack
          .mb-2
            i.align-middle.me-2(data-feather='slash')
            span.align-middle slash
          .mb-2
            i.align-middle.me-2(data-feather='sliders')
            span.align-middle sliders
          .mb-2
            i.align-middle.me-2(data-feather='smartphone')
            span.align-middle smartphone
          .mb-2
            i.align-middle.me-2(data-feather='speaker')
            span.align-middle speaker
          .mb-2
            i.align-middle.me-2(data-feather='square')
            span.align-middle square
          .mb-2
            i.align-middle.me-2(data-feather='star')
            span.align-middle star
          .mb-2
            i.align-middle.me-2(data-feather='stop-circle')
            span.align-middle stop-circle
          .mb-2
            i.align-middle.me-2(data-feather='sun')
            span.align-middle sun
          .mb-2
            i.align-middle.me-2(data-feather='sunrise')
            span.align-middle sunrise
          .mb-2
            i.align-middle.me-2(data-feather='sunset')
            span.align-middle sunset
          .mb-2
            i.align-middle.me-2(data-feather='tablet')
            span.align-middle tablet
          .mb-2
            i.align-middle.me-2(data-feather='tag')
            span.align-middle tag
          .mb-2
            i.align-middle.me-2(data-feather='target')
            span.align-middle target
          .mb-2
            i.align-middle.me-2(data-feather='terminal')
            span.align-middle terminal
          .mb-2
            i.align-middle.me-2(data-feather='thermometer')
            span.align-middle thermometer
          .mb-2
            i.align-middle.me-2(data-feather='thumbs-down')
            span.align-middle thumbs-down
          .mb-2
            i.align-middle.me-2(data-feather='thumbs-up')
            span.align-middle thumbs-up
          .mb-2
            i.align-middle.me-2(data-feather='toggle-left')
            span.align-middle toggle-left
          .mb-2
            i.align-middle.me-2(data-feather='toggle-right')
            span.align-middle toggle-right
          .mb-2
            i.align-middle.me-2(data-feather='trash')
            span.align-middle trash
          .mb-2
            i.align-middle.me-2(data-feather='trash-2')
            span.align-middle trash-2
          .mb-2
            i.align-middle.me-2(data-feather='trending-down')
            span.align-middle trending-down
          .mb-2
            i.align-middle.me-2(data-feather='trending-up')
            span.align-middle trending-up
          .mb-2
            i.align-middle.me-2(data-feather='triangle')
            span.align-middle triangle
          .mb-2
            i.align-middle.me-2(data-feather='truck')
            span.align-middle truck
          .mb-2
            i.align-middle.me-2(data-feather='tv')
            span.align-middle tv
          .mb-2
            i.align-middle.me-2(data-feather='twitter')
            span.align-middle twitter
          .mb-2
            i.align-middle.me-2(data-feather='type')
            span.align-middle type
          .mb-2
            i.align-middle.me-2(data-feather='umbrella')
            span.align-middle umbrella
          .mb-2
            i.align-middle.me-2(data-feather='underline')
            span.align-middle underline
          .mb-2
            i.align-middle.me-2(data-feather='unlock')
            span.align-middle unlock
          .mb-2
            i.align-middle.me-2(data-feather='upload')
            span.align-middle upload
          .mb-2
            i.align-middle.me-2(data-feather='upload-cloud')
            span.align-middle upload-cloud
          .mb-2
            i.align-middle.me-2(data-feather='user')
            span.align-middle user
          .mb-2
            i.align-middle.me-2(data-feather='user-check')
            span.align-middle user-check
          .mb-2
            i.align-middle.me-2(data-feather='user-minus')
            span.align-middle user-minus
          .mb-2
            i.align-middle.me-2(data-feather='user-plus')
            span.align-middle user-plus
          .mb-2
            i.align-middle.me-2(data-feather='user-x')
            span.align-middle user-x
          .mb-2
            i.align-middle.me-2(data-feather='users')
            span.align-middle users
          .mb-2
            i.align-middle.me-2(data-feather='video')
            span.align-middle video
          .mb-2
            i.align-middle.me-2(data-feather='video-off')
            span.align-middle video-off
          .mb-2
            i.align-middle.me-2(data-feather='voicemail')
            span.align-middle voicemail
          .mb-2
            i.align-middle.me-2(data-feather='volume')
            span.align-middle volume
          .mb-2
            i.align-middle.me-2(data-feather='volume-1')
            span.align-middle volume-1
          .mb-2
            i.align-middle.me-2(data-feather='volume-2')
            span.align-middle volume-2
          .mb-2
            i.align-middle.me-2(data-feather='volume-x')
            span.align-middle volume-x
          .mb-2
            i.align-middle.me-2(data-feather='watch')
            span.align-middle watch
          .mb-2
            i.align-middle.me-2(data-feather='wifi')
            span.align-middle wifi
          .mb-2
            i.align-middle.me-2(data-feather='wifi-off')
            span.align-middle wifi-off
          .mb-2
            i.align-middle.me-2(data-feather='wind')
            span.align-middle wind
          .mb-2
            i.align-middle.me-2(data-feather='x')
            span.align-middle x
          .mb-2
            i.align-middle.me-2(data-feather='x-circle')
            span.align-middle x-circle
          .mb-2
            i.align-middle.me-2(data-feather='x-square')
            span.align-middle x-square
          .mb-2
            i.align-middle.me-2(data-feather='zap')
            span.align-middle zap
          .mb-2
            i.align-middle.me-2(data-feather='zap-off')
            span.align-middle zap-off
          .mb-2
            i.align-middle.me-2(data-feather='zoom-in')
            span.align-middle zoom-in
          .mb-2
            i.align-middle.me-2(data-feather='zoom-out')
            span.align-middle zoom-out
