extends ../layouts/dashboard

append config
  -pageName = 'Blank Page'
  -pageUrl = 'pages-blank'

block content

  .row
    .col-12
      .card
        .card-header
          h5.card-title.mb-0 Empty card
        .card-body