extends ../layouts/dashboard

append config
  -pageName = 'SweetAlert'
  -pageUrl = 'sweetalert'

block styles
  link(rel="stylesheet", href="css/sweetalert2.css")

block content
  .card.mb-3
    .card-body
      button#basic.btn.btn-primary Basic

  .card.mb-3
    .card-body
      .row
        .col-md-4.col-12
          .d-grid
            button#success.btn.btn-outline-success Success
        .col-md-4.col-12
          .d-grid
            button#error.btn.btn-outline-danger Error
        .col-md-4.col-12
          .d-grid
            button#warning.btn.btn-outline-warning Warning
      .row.mt-3
        .col-md-6.col-12
          .d-grid
            button#info.btn.btn-outline-info Info
        .col-md-6.col-12
          .d-grid
            button#question.btn.btn-outline-secondary Question


block scripts 
  script(src="js/sweetalert2.js") 

  script. 
    document.getElementById("basic").addEventListener("click", (e) => {
      Swal.fire("Any fool can use a computer")
    })

    document.getElementById("success").addEventListener("click", (e) => {
      Swal.fire({
        icon: "success",
        title: "Success",
      })
    })
    document.getElementById("error").addEventListener("click", (e) => {
      Swal.fire({
        icon: "error",
        title: "Error",
      })
    })
    document.getElementById("warning").addEventListener("click", (e) => {
      Swal.fire({
        icon: "warning",
        title: "Warning",
      })
    })
    document.getElementById("info").addEventListener("click", (e) => {
      Swal.fire({
        icon: "info",
        title: "Info",
      })
    })
    document.getElementById("question").addEventListener("click", (e) => {
      Swal.fire({
        icon: "question",
        title: "Question",
      })
    })