extends ../../layouts/dashboard

append config
  -pageName = 'Blank Page'
  - pageUrl = 'pages/blank'

block styles

block scripts 

block content

  .card   
    .card-body 
      h5.card-title
        | Un título de ejemplo
      p.card-text
        | Este es un párrafo de ejemplo para demostrar el uso de la tarjeta.
      a.btn.btn-primary(href="#") Un botón de ejemplo

