*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

img, svg {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  font-family: inherit;

  &:focus {
    outline: none;
  }
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}