.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  min-height: 100%;
  flex: 1;
  transition: $sidebar-transition;
  background: $body-bg;
  // overflow: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .main {
      background: $body-bg-dark;
    }
  }
}
