.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: $body-bg-alt;
}

.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($black, 0.5);
  z-index: 1040;
  display: none;
  opacity: 0;
  transition: opacity $sidebar-transition;

  @media (max-width: #{map-get($grid-breakpoints, 'lg') - .02px}) {
    .sidebar.collapsed + & {
      display: block;
      opacity: 1;
    }
  }
}

body {
  background: $body-bg-alt;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .wrapper {
      background: $body-bg-alt-dark;
    }

    body {
      background: $body-bg-alt-dark;
    }
  }
}
