block config

// Responsive navbar
nav.navbar.navbar-expand-lg.bg-body
  .container
    a.navbar-brand(href='index.html') #{siteName}
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        li.nav-item
          a.nav-link(href='index.html') Home
        li.nav-item
          a.nav-link(href='dashboard.html') Dashboard
        li.nav-item
          a.nav-link(href='auth-sign-in.html') Login
        li.nav-item
          a.nav-link(href='auth-sign-up.html') Register
        li.nav-item
          a.nav-link(href='blog-home.html') Blog