// Search widget
.card.mb-4
  .card-header Search
  .card-body
    .input-group
      input.form-control(type='text', placeholder='Enter search term...', aria-label='Enter search term...', aria-describedby='button-search')
      button#button-search.btn.btn-primary(type='button') Go!

// Categories widget
.card.mb-4
  .card-header Categories
  .card-body
    .row
      .col-sm-6
        ul.list-unstyled.mb-0
          li
            a(href='#!') Web Design
          li
            a(href='#!') HTML
          li
            a(href='#!') Freebies
      .col-sm-6
        ul.list-unstyled.mb-0
          li
            a(href='#!') JavaScript
          li
            a(href='#!') CSS
          li
            a(href='#!') Tutorials

// Side widget
.card.mb-4
  .card-header Side Widget
  .card-body
    | You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!
