block config

footer.footer
  .container-fluid
    .row.text-muted
      .col-6.text-start
        p.mb-0
          a.text-muted(href='index.html')
            strong #{siteName}
          |  &copy;
          i #{description}
      .col-6.text-end
        ul.list-inline
          li.list-inline-item
            a.text-muted(href='#') Support
          li.list-inline-item
            a.text-muted(href='#') Help Center
          li.list-inline-item
            a.text-muted(href='#') Privacy
          li.list-inline-item
            a.text-muted(href='#') Terms
