// Loader
#spinner.show.bg-body.position-fixed.translate-middle.w-100.vh-100.top-50.start-50.d-flex.align-items-center.justify-content-center
  .spinner-border.text-primary(style='width: 3rem; height: 3rem;' role='status')
    span.sr-only Loading...
//- Spinner End
