// Loader
#spinner.show.bg-body.position-fixed.translate-middle.w-100.vh-100.top-50.start-50.d-flex.align-items-center.justify-content-center

  .position-relative(style="width: 4rem; height: 4rem;")
    
    .spinner-border.text-primary.position-absolute.top-0.start-0.w-100.h-100(role='status' style="border-width: 3px; z-index: 1;")
      span.visually-hidden Loading...
    
    .position-absolute.top-50.start-50.translate-middle(style="z-index: 2;")
      img(src=baseUrl +'img/logo.png' alt='Logo' width='30' height='30')