nav.navtop
  a.sidebar-toggle.js-sidebar-toggle
    i.hamburger.align-self-center

  .navbar-collapse.collapse
    ul.navbar-nav.navbar-align
      li.nav-item.dropdown 
        a#bd-theme.nav-link.dropdown-toggle(type='button' aria-expanded='false' data-bs-toggle='dropdown' aria-label='Toggle theme (auto)')
          span#bd-theme-icon.theme-icon-active
            i.fa.fa-sun
          span#bd-theme-text.visually-hidden Toggle theme
        ul.dropdown-menu.dropdown-menu-end.shadow(aria-labelledby='bd-theme-text')
          li
            button.dropdown-item.d-flex.align-items-center(type='button' data-bs-theme-value='light' aria-pressed='false')
              i.fa.fa-sun.opacity-50.me-2
              | Light
              i.pr-check.fa.fa-check.ms-auto.d-none
          li
            button.dropdown-item.d-flex.align-items-center(type='button' data-bs-theme-value='dark' aria-pressed='false')
              i.fa.fa-moon.opacity-50.me-2
              | Dark
              i.pr-check.fa.fa-check.ms-auto.d-none
          li
            button.dropdown-item.d-flex.align-items-center(type='button' data-bs-theme-value='auto' aria-pressed='true')
              i.fa.fa-circle-half-stroke.opacity-50.me-2
              | Auto
              i.pr-check.fa.fa-check.ms-auto.d-none

      li.nav-item.dropdown
        a#alertsDropdown.nav-icon.dropdown-toggle(href='#' data-bs-toggle='dropdown')
          .position-relative
            i.align-middle(data-feather='bell')
            span.indicator 4
        .dropdown-menu.dropdown-menu-lg.dropdown-menu-end.py-0(aria-labelledby='alertsDropdown')
          .dropdown-menu-header
            | 4 New Notifications
          .list-group
            a.list-group-item(href='#')
              .row.g-0.align-items-center
                .col-2
                  i.text-danger(data-feather='alert-circle')
                .col-10
                  div Update completed
                  .text-muted.small.mt-1 Restart server 12 to complete the update.
                  .text-muted.small.mt-1 30m ago
            a.list-group-item(href='#')
              .row.g-0.align-items-center
                .col-2
                  i.text-warning(data-feather='bell')
                .col-10
                  div Lorem ipsum
                  .text-muted.small.mt-1 Aliquam ex eros, imperdiet vulputate hendrerit et.
                  .text-muted.small.mt-1 2h ago
            a.list-group-item(href='#')
              .row.g-0.align-items-center
                .col-2
                  i.text-primary(data-feather='home')
                .col-10
                  div Login from 192.186.1.8
                  .text-muted.small.mt-1 5h ago
            a.list-group-item(href='#')
              .row.g-0.align-items-center
                .col-2
                  i.text-success(data-feather='user-plus')
                .col-10
                  div New connection
                  .text-muted.small.mt-1 Christina accepted your request.
                  .text-muted.small.mt-1 14h ago
          .dropdown-menu-footer
            a.text-muted(href='#') Show all notifications
      
      li.nav-item.dropdown
        a#messagesDropdown.nav-icon.dropdown-toggle(href='#' data-bs-toggle='dropdown')
          .position-relative
            i.align-middle(data-feather='message-square')
        .dropdown-menu.dropdown-menu-lg.dropdown-menu-end.py-0(aria-labelledby='messagesDropdown')
          .dropdown-menu-header
            .position-relative
              | 4 New Messages
          .list-group
            a.list-group-item(href='#')
              .row.g-0.align-items-center
                .col-2
                  img.avatar.img-fluid.rounded-circle(src='https://dummyimage.com/50x50/d63384/fff.jpg' alt='Vanessa Tucker')
                .col-10.ps-2
                  div Vanessa Tucker
                  .text-muted.small.mt-1 Nam pretium turpis et arcu. Duis arcu tortor.
                  .text-muted.small.mt-1 15m ago
            a.list-group-item(href='#')
              .row.g-0.align-items-center
                .col-2
                  img.avatar.img-fluid.rounded-circle(src='https://dummyimage.com/50x50/d63384/fff.jpg' alt='William Harris')
                .col-10.ps-2
                  div William Harris
                  .text-muted.small.mt-1 Curabitur ligula sapien euismod vitae.
                  .text-muted.small.mt-1 2h ago
            a.list-group-item(href='#')
              .row.g-0.align-items-center
                .col-2
                  img.avatar.img-fluid.rounded-circle(src='https://dummyimage.com/50x50/d63384/fff.jpg' alt='Christina Mason')
                .col-10.ps-2
                  div Christina Mason
                  .text-muted.small.mt-1 Pellentesque auctor neque nec urna.
                  .text-muted.small.mt-1 4h ago
            a.list-group-item(href='#')
              .row.g-0.align-items-center
                .col-2
                  img.avatar.img-fluid.rounded-circle(src='https://dummyimage.com/50x50/d63384/fff.jpg' alt='Sharon Lessman')
                .col-10.ps-2
                  div Sharon Lessman
                  .text-muted.small.mt-1 Aenean tellus metus, bibendum sed, posuere ac, mattis non.
                  .text-muted.small.mt-1 5h ago
          .dropdown-menu-footer
            a.text-muted(href='#') Show all messages
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle.d-inline-block(href='#' data-bs-toggle='dropdown')
          .avatar.avatar-sm.me-1
            img(src="https://dummyimage.com/50x50/ececec/000.jpg", alt="")
          span.d-none.d-sm-inline-block Pirulug
        .dropdown-menu.dropdown-menu-end
          a.dropdown-item(href='pages-profile.html')
            i.align-middle.me-1(data-feather='user')
            |  Profile
          a.dropdown-item(href='#')
            i.align-middle.me-1(data-feather='pie-chart')
            |  Analytics
          .dropdown-divider
          a.dropdown-item(href='pages-settings.html')
            i.align-middle.me-1(data-feather='settings')
            |  Settings &amp; Privacy
          a.dropdown-item(href='#')
            i.align-middle.me-1(data-feather='help-circle')
            |  Help Center
          .dropdown-divider
          a.dropdown-item(href='#') 
            i.align-middle.me-1(data-feather='log-out')
            | Log out
