//- layout.pug
include ../config/config
block config

doctype html
html(lang="es" data-bs-theme="dark")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    
    title #{pageName} | #{siteName}

    // Favicon
    link(rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png')
    link(rel='manifest' href='img/favicon/site.webmanifest')

    // Google Font
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap' rel='stylesheet')

    // Css Bootstrap
    link(rel="stylesheet" href="css/app.css")

    block styles
  //- body(data-bs-spy="scroll" data-bs-target="#navbar-example")
  body

    .wrapper
      include ../includes/sidebar

      .main
        // NavBar
        include ../includes/navtop

        // Content
        .content
          .mb-3
            h1.h3.d-inline.align-middle #{pageName}

          block content

        // Footer
        include ../includes/footer

    // Dark & Ligth
    include ../includes/dark-ligth

    // Js Bootstrap
    script(src='js/app.js')

    block scripts 

