// .bi {
//   width: 1em;
//   height: 1em;
//   vertical-align: -0.125em;
//   fill: currentcolor;
// }

// .active .bi {
//   display: block !important;
// }

.settings-toggle {
  background: $primary;
  border-radius: 50%;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  height: 52px;
  padding: 1rem;
  position: fixed;
  right: 20px;
  width: 52px;

  svg {
    height: 20px;
    margin-top: -0.25rem;
    width: 20px;
  }
}

// Separator

.separator {
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 1rem 0;

  .separator-text {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    font-weight: 700;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      border-top: 1px solid #dfe3e7;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }

  &.separator-left .separator-text {
    float: left;
  }

  &.separator-left-center .separator-text {
    left: -25%;
  }

  &.separator-right-center .separator-text {
    left: 25%;
  }

  &.separator-right .separator-text {
    float: right;
  }
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease-out,
    visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition:
    opacity 0.5s ease-out,
    visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

//

.demo-code-preview {
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
  // margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #000;
  font-family: 'Google Sans Code';
  // font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  overflow-x: auto;
  border: 1px solid #000;
}

.demo-code-preview pre {
  background: transparent;
  color: inherit;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
}

.demo-code-preview::before {
  content: attr(data-label);
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 0.7rem;
  color: #000;
  background-color: transparent;
  padding: 2px 4px;
  border-radius: 3px;
  text-transform: uppercase;
}

.copy-btn {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 0.7rem;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
}

.copy-btn:hover {
  background-color: #39ff14;
  color: black;
}

/* 🌙 DARK MODE (opcional, cambia el verde por ámbar) */
:root[data-bs-theme="dark"] .demo-code-preview {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

:root[data-bs-theme="dark"] .demo-code-preview::before,
:root[data-bs-theme="dark"] .copy-btn {
  color: #fff;
  border-color: #fff;
}

:root[data-bs-theme="dark"] .copy-btn:hover {
  background-color: #fff;
  color: black;
}
