.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.active .bi {
  display: block !important;
}

.settings-toggle {
  background: $primary;
  border-radius: 50%;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  height: 52px;
  padding: 1rem;
  position: fixed;
  right: 20px;
  width: 52px;

  svg {
    height: 20px;
    margin-top: -0.25rem;
    width: 20px;
  }
}

// Separator

.separator {
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 1rem 0;

  .separator-text {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    font-weight: 700;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      border-top: 1px solid #dfe3e7;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }

  &.separator-left .separator-text {
    float: left;
  }

  &.separator-left-center .separator-text {
    left: -25%;
  }

  &.separator-right-center .separator-text {
    left: 25%;
  }

  &.separator-right .separator-text {
    float: right;
  }
}
