extends ../../layouts/dashboard

append config
  - pageName = 'Lite YouTube'
  - pageUrl = 'plugins/lite-youtube'

block styles
  link(rel="stylesheet", href=assets + "plugins/prismjs.css")

block content
  .row.g-3
    .col-12
      .card
        .card-body
          h5.card-title Basic usage
          p.text-secondary
            | A web component that renders YouTuber embeds faster.
          .pt-4.pb-4.text-center
            lite-youtube(videoid="ogfYd705cRs" playlabel="Play: Keynote (Google I/O '18)")
          
          .text-center.mt-3
            button.btn.btn-sm.btn-outline-secondary(type='button' data-bs-toggle='collapse' data-bs-target='#collapseLiteYoutube' aria-expanded='false' aria-controls='collapseLiteYoutube')
              i.bi.bi-code-slash.me-1
              | View Code
          .collapse#collapseLiteYoutube.mt-3
            .demo-code-preview(data-label='CODE EXAMPLE')
              button.copy-btn(type='button') Copy
              pre.language-html
                code.language-html.
                  &lt;lite-youtube videoid="ogfYd705cRs" playlabel="Play: Keynote (Google I/O '18)"&gt;&lt;/lite-youtube&gt;

block scripts
  script(src=assets + 'plugins/liteyoutube.js')
  script(src=assets + "plugins/prismjs.js")
